%h1 Listing election_archives

%table
  %tr
    %th Name
    %th Day
    %th Voter end day
    %th Voter start day
    %th Nlogs
    %th Log file names
    %th
    %th
    %th

  - @election_archives.each do |election_archive|
    %tr
      %td= election_archive.name
      %td= election_archive.day
      %td= election_archive.voter_end_day
      %td= election_archive.voter_start_day
      %td= election_archive.nlogs
      %td= election_archive.log_file_names
      %td= link_to 'Show', election_archive
      %td= link_to 'Edit', edit_election_archive_path(election_archive)
      %td= link_to 'Destroy', election_archive, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Election archive', new_election_archive_path
