%h2= "Election Archives ("+ElectionArchive.all.length.to_s+")"
%br
%table{:style=>"text-align:center"}
  %tr
    %th Name
    %th &nbsp;
    %th Day
    %th &nbsp;
    %th # Logs
    %th &nbsp;
    %th EID
    %th &nbsp;
    %th 
  - @election_archives.each do |election_archive|
    %tr
      %td= election_archive.name
      %td
      %td= election_archive.day
      %td
      %td= election_archive.nlogs
      %td
      %td= election_archive.eid
      %td
      %td= link_to 'Show', election_archive
      %td
      %td= link_to 'Delete', election_archive, :confirm => 'Are you sure?', :method=>:delete
      %td
      %td= link_to 'Restore', election_archive, :confirm => 'Are you sure?', :method=>:put
%br

= link_to 'Back', :back
