%p#notice= notice

%p
  %b Name:
  = @election_archive.name
%p
  %b Date:
  = @election_archive.day
%p
  %b Voter End Day:
  = @election_archive.voter_end_day
%p
  %b Voter Start day:
  = @election_archive.voter_start_day
%p
  %b Logs:
  = @election_archive.nlogs

= link_to 'Back', :back
