#front
  .row
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span2#redelecname
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span8
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      %p
        With all the relevant data loaded, you can now run a variety of
        analytics over the consolidated set data from all the logs that
        have been previously loaded.
      %p
        %u More about reporting (add link)
      %p
        %u More about data export (add link)
    .span9
      %b#likeh2blue Analyses and Reports
      %div#scroil9{:style=>"height:322px;"}
        %table{:style=>"margin:10px;"}
          %tr
            %td= link_to "Voter Participation Report", '/report?rn=1;id='+Selection.all[0].eid.to_s, class: 'primary btn'       
          %tr
            %td
              &nbsp;
          %tr
            %td= link_to "UOCAVA Ballot Return Report", '/report?rn=2;id='+Selection.all[0].eid.to_s, class: 'primary btn'  
          %tr
            %td
              &nbsp;
          %tr
            %td= link_to "Ballot Adjucation Report", '/report?rn=3;id='+Selection.all[0].eid.to_s, class: 'primary btn'
          %tr
            %td
              &nbsp;
          %tr
            %td= link_to "The Very Last Report You Will Ever See", '/report?rn=99', class: 'primary btn'  
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      = link_to "Back", voter_records_path
