#front
  .row
    -if (Election.all.any?{|e|e.selected})
      .span2#redelecname
        = (Election.all.find{|e|e.selected}).name
        %br
        = (Election.all.find{|e|e.selected}).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span9
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td#doing{:style=>"width:25%;"}
            Add Voters
          %td#todo{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    -if (VoterRecord.all.length > 0)
      .span2.sidebar
        %p
          You can delete or replace the voter records extracts &mdash; ID number
          and demographic data but not personal identifying information &mdash;
          for the voters referenced in the log data, or even for all registered
          voters. 
        %p 
          If the voter record extracts are all in place, you can proceed to
          analytics.  
      .span9
        #likeh2blue Voter Record Dataset
        #scroil9{:style=>"height: 325px;"}
          %table{:style=>"width:100%;margin:5px;font-size:14px;background-color:#DDDDDD;"}
            %tr{:style=>"font-weight:bold;"}
              %td{:style=>"width:30%;"}
                = (Selection.all.length > 0 && Selection.all[0].vr_file) || 'FILE.csv'
              %td{:style=>"width:34%;"}
                %span{:style=>"color:#3D59AB;"}
                  from
                = (Selection.all.length > 0 && Selection.all[0].vr_origin) || 'Somewhere'
              %td{:style=>"width:12%;"}
                &nbsp;
              %td{:style=>"width:12%;"}
                &nbsp;
              %td{:style=>"width:12%;"}
                &nbsp;
            %tr
              %td= 'Uploaded: '+VoterRecord.all[0].created_at.strftime("%Y-%m-%d %H:%M")
              %td= number_with_delimiter(VoterRecord.all.length)+" Records"
              %td= link_to 'Show', VoterRecord.all[0]
              %td= link_to 'Delete', VoterRecord.all[0], :confirm => 'Are you sure?', :method=>:delete
              %td= link_to 'Replace', VoterRecord.all[0], :confirm => 'Are you sure?', :method=>:delete
    -else
      .span2.sidebar
        %p 
          Your next step is to upload one or more files that contain voter
          records extracts &mdash; ID number and demographic data but not 
          personal identifying information &mdash; for the voters referenced
          in the log data, or even for all registered voters.	 
        %p 
          If you don’t have voter records, that’s OK. You can return later and
          add them, but until you do, some analytics and reports will be
          unavailable. 
      .span9
        #likeh2blue Upload New Voter Records Dataset
        .row
          .span7
            %form{:action=>"/uplift",:method=>"post",
                  :enctype=>"multipart/form-data",:style=>"margin:0;"}
              %input{:type=>"file",:name=>"file"}
              %input{:type=>"hidden",:name=>"eid",:value=>(Election.all.find{|e|e.selected}).id}
              %input{:type=>"hidden",:name=>"uptype",:value=>"vr"}
              %input{:type=>"submit",:value=>"Import EML",:disabled=>true,:style=>"color:white;background-color:#666666;"}
              %input{:type=>"submit",:value=>"Import CSV",:style=>"color:white;background-color:#444444;"}
          .span3
            %b= (@uplift_msg ? "Last "+@uplift_msg : "&nbsp;".html_safe)
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      -if (Election.all.any?{|e|e.selected})
        = link_to "Back", '/elections/'+(Election.all.find{|e|e.selected}).id.to_s
      -else
        = link_to 'Back', :back
    .span7
      &nbsp;
    -if (Election.all.any?{|e|e.selected})
      .span1#statebacknext
        = link_to "Next", '/analytic?id'+(Election.all.find{|e|e.selected}).id.to_s
