%p#notice= notice

.row
  .span6
    %h2= "All Voter Records ("+VoterRecord.all.length.to_s+")"
  .span3
    &nbsp;
  .span2
    &nbsp;
%br
%table{:style=>"text-align:center"}
  %tr
    %th Voter ID
    %th &nbsp;
    %th Type
    %th &nbsp;
    %th Gender
    %th &nbsp;
    %th Party
    %th &nbsp;
    %th Other
  - VoterRecord.all.each do |vr|
    %tr
      %td= vr.vname
      %td
      %td= (vr.vtype == '' ? 'domestic' : vr.vtype)
      %td
      %td= vr.gender
      %td
      %td= vr.party
      %td
      %td= vr.other
%br
= link_to 'Back', :back
