%p#notice= notice

-if (@users.length > 0)
  .row
    .span6
      %h2= "All Users ("+@users.length.to_s+")  "
    .span5
      = "&nbsp;".html_safe
    .span1#statebacknext
      = link_to 'Back', :back
  %br
  %table{:style=>"text-align:center"}
    %tr
      %th User Email
      %th &nbsp;
      %th Type
      %th &nbsp;
      %th &nbsp;
    - @users.each do |u|
      %tr
        %td= u.email
        %td
        %td= (u.is_admin ? "Admin" : "")
        %td
        -if current_user.is_admin
          %td= link_to 'Destroy', '/user/'+u.id.to_s, :confirm => 'Are you sure you want to destroy this account?', :method => :delete
-else
  .row
    .span11
      %h2= "No Users"
    .span1#statebacknext
      = link_to 'Back', :back
