.row
  .span4
    %h2 Voter Log File Error
    %br
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      %p#redelecname
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      %p#redelecname
        No election event selected.
    %br
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      = link_to "Back", '/elections/'+Selection.all[0].eid.to_s, class: 'primary btn'
    -else
      = link_to 'Back', :back, class: 'primary btn'
    %br
    %br
    %h3= @uplift_msg
    %br
    %p
      = @uplift_err
  .span8
    %h3 XML Schema for Voter Transaction Logs
    %table
      %pre{:style=>"font-size:11px;"}
        :preserve
          &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#x000A;&lt;xs:schema xmlns:xs=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#x000A;  &lt;xs:element name=&quot;voterTransactionLog&quot;&gt;&#x000A;    &lt;xs:complexType&gt;&#x000A;      &lt;xs:sequence&gt;&#x000A;	&lt;xs:element name=&quot;header&quot;&gt;&#x000A;	  &lt;xs:complexType&gt;&#x000A;	    &lt;xs:all&gt;&#x000A;	      &lt;xs:element name=&quot;origin&quot; type=&quot;xs:string&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;originUniq&quot; type=&quot;xs:string&quot; minOccurs=&quot;0&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;date&quot; type=&quot;xs:dateTime&quot;/&gt;&#x000A;	    &lt;/xs:all&gt;&#x000A;	  &lt;/xs:complexType&gt;&#x000A;	&lt;/xs:element&gt;&#x000A;	&lt;xs:element name=&quot;voterTransactionRecord&quot; minOccurs=&quot;0&quot; maxOccurs=&quot;unbounded&quot;&gt;&#x000A;	  &lt;xs:complexType&gt;&#x000A;	    &lt;xs:all&gt;&#x000A;	      &lt;xs:element name=&quot;voter&quot; type=&quot;xs:string&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;vtype&quot; type=&quot;voterType&quot; minOccurs=&quot;0&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;date&quot; type=&quot;xs:dateTime&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;action&quot; type=&quot;actionType&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;form&quot; type=&quot;formType&quot; minOccurs=&quot;0&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;leo&quot; type=&quot;xs:string&quot; minOccurs=&quot;0&quot;/&gt;&#x000A;	      &lt;xs:element name=&quot;note&quot; type=&quot;xs:string&quot; minOccurs=&quot;0&quot;/&gt;&#x000A;	    &lt;/xs:all&gt;&#x000A;	  &lt;/xs:complexType&gt;&#x000A;	&lt;/xs:element&gt;&#x000A;      &lt;/xs:sequence&gt;&#x000A;    &lt;/xs:complexType&gt;&#x000A;  &lt;/xs:element&gt;&#x000A;  &lt;xs:simpleType name=&quot;voterType&quot;&gt;&#x000A;    &lt;xs:restriction base=&quot;xs:string&quot;&gt;&#x000A;      &lt;xs:enumeration value=&quot;UOCAVA&quot;/&gt;&#x000A;    &lt;/xs:restriction&gt;&#x000A;  &lt;/xs:simpleType&gt;&#x000A;  &lt;xs:simpleType name=&quot;actionType&quot;&gt;&#x000A;    &lt;xs:restriction base=&quot;xs:string&quot;&gt;&#x000A;      &lt;xs:enumeration value=&quot;identify&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;start&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;discard&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;complete&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;submit&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;transcribe&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;match&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;approve&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;reject&quot;/&gt;&#x000A;    &lt;/xs:restriction&gt;&#x000A;  &lt;/xs:simpleType&gt;&#x000A;  &lt;xs:complexType name=&quot;formType&quot;&gt;&#x000A;    &lt;xs:sequence&gt;&#x000A;      &lt;xs:element name=&quot;type&quot; type=&quot;formTypeType&quot; minOccurs=&quot;1&quot; maxOccurs=&quot;2&quot;/&gt;&#x000A;      &lt;xs:element name=&quot;name&quot; type=&quot;xs:string&quot; minOccurs=&quot;0&quot;/&gt;&#x000A;      &lt;xs:element name=&quot;number&quot; type=&quot;xs:string&quot; minOccurs=&quot;0&quot;/&gt;&#x000A;    &lt;/xs:sequence&gt;&#x000A;  &lt;/xs:complexType&gt;&#x000A;  &lt;xs:simpleType name=&quot;formTypeType&quot;&gt;&#x000A;    &lt;xs:restriction base=&quot;xs:string&quot;&gt;&#x000A;      &lt;xs:enumeration value=&quot;Voter Registration&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;Voter Record Update&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;Absentee Request&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;Absentee Ballot&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;Provisional Ballot&quot;/&gt;&#x000A;      &lt;xs:enumeration value=&quot;Poll Book Entry&quot;/&gt;&#x000A;    &lt;/xs:restriction&gt;&#x000A;  &lt;/xs:simpleType&gt;&#x000A;&lt;/xs:schema&gt;

