#front
  .row
    -if (Election.all.any?{|e|e.selected})
      .span2#redelecname
        = (Election.all.find{|e|e.selected}).name
        %br
        = (Election.all.find{|e|e.selected}).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    -if (Election.all.any?{|e|e.selected})
      .span2.sidebar
        %p
          With all the relevant data loaded, you can now run a variety of
          analytics over the consolidated set data from all the logs that
          have been previously loaded.
        %p
          %u More about reporting (add link)
        %p
          %u More about data export (add link)
      .span10
        #likeh2blue Analyses and Reports
        #scroil10{:style=>"height: 324px;"}
          - Election.all.each do |e|
            -if e.selected
              - e.analytic_reports.order("num ASC").each do |ar|
                %table{:class=>cycle('tableDDD','tableBBB')}
                  %tr{:style=>"font-weight:bold;colspan=6"}
                    %td= ar.name
                  %tr
                    %td{:style=>"width:37%;"}
                      = number_with_delimiter([e.voters.count,VoterRecord.count].max)+" Records"
                    %td{:style=>"width:9%;text-align:left"}
                      = link_to 'About'
                    %td{:style=>"width:14%;text-align:left"}
                      = link_to 'View Report', '/analytic_report?rn='+ar.num.to_s+';id='+e.id.to_s
                    %td{:style=>"width:14%;text-align:left"}
                      = link_to 'Save as PDF', '/analytic_report.pdf?rn='+ar.num.to_s+';id='+e.id.to_s
                    %td{:style=>"width:12%;text-align:left"}
                      = link_to 'View Data', '/voter_transaction_records?id='+e.id.to_s
                    %td{:style=>"width:14%;text-align:left"}
                      = link_to 'Export XML', '/voter_transaction_records.xml?id='+e.id.to_s
    -else
      .span2.sidebar
        %p
          Please select an election before navigating to this page.
      .span10
        #likeh2blue No Analyses and Reports Available, No Election Selected
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      = link_to "Back", voter_records_path
