%p#notice= notice

.row
  .span6
    %h2= "All Analytic Reports ("+AnalyticReport.all.length.to_s+")"
  .span3
    = link_to 'Show Table', :show_xml => nil
    \|
    = link_to 'Show XML', :show_xml => true
  .span2
    -if (AnalyticReport.all.length > 0)
      %b= link_to "Download XML", format: 'xml', class: 'btn'
%br
-if AnalyticReport.all.length > 0
  %table{:style=>"text-align:center"}
    %tr
      %th Num
      %th &nbsp;
      %th Date
      %th &nbsp;
      %th Name
      %th &nbsp;
      %th Desc
      %th &nbsp;
      %th Data
      %th &nbsp;
      %th Election ID
      %th &nbsp;
      %th
    - AnalyticReport.all.each do |ar|
      %tr
        %td= ar.num
        %td
        %td= ar.day.to_s
        %td
        %td= ar.name
        %td
        %td= ar.desc
        %td
        %td= ar.data
        %td
        %td= ar.election_id.to_s
        %td
        %td= link_to 'Delete', ar, :confirm=>'Are you sure?', :method=>:delete
%br
= link_to 'Back', :root
