#frontal
-if (AnalyticReport.all.length > 0)
  .row
    .span6
      %h2= "All Analytic Reports ("+AnalyticReport.all.length.to_s+")"
    .span3
      = link_to 'Show Table', :show_xml => nil
      \|
      = link_to 'Show XML', :show_xml => true
    .span2
      %b= link_to "Download XML", format: 'xml', class: 'btn'
  .row
    .span12
      %table
        %tr
          %th Num
          %th &nbsp;
          %th ID
          %th &nbsp;
          %th Data
          %th &nbsp;
          %th
        - AnalyticReport.all.each do |ar|
          %tr
            %td= ar.num
            %td
            %td= ar.election_id.to_s
            %td
            %td= ar.linebreak(90)
            %td
            %td= link_to 'Reset', '/analytic_reports/reset?id='+ar.id.to_s
            %td
            %td= link_to 'Delete', ar, :confirm=>'Are you sure?', :method=>:delete
          %tr
            %td &nbsp;
-else
  .row
    .span6
      %h2= "No Analytic Reports"
%br
= link_to 'Back', :back
