#front
  .row
    -if defined?(@election) && @election.id.to_s == params[:id]
      .span2#redelecname
        = @election.name
        %br
        = @election.date
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      Textual description of report here.
    .span10
      .row
        .span8
          #likeh2blue UOCAVA Voter Activity Report
        -if defined?(@election) && @election.id.to_s == params[:id]
          .span2#likeh4
            = link_to "Save as PDF", '/analytic_report.pdf?rn=4;id='+params[:id]
      .row
        .span10
          %hr{:style=>"margin:0;border:0;border-top:1px solid #BBBBBB;"}
          -if defined?(@election) && @election.id.to_s == params[:id]
            #scroil10{:style=>"height: 324px;"}
              #likeh4b Scope
              %table
                %tr
                  %td= 'Election:'
                  %td= @election.name
                %tr
                  %td= 'Election Date:'
                  %td= @election.date
                %tr
                  %td= 'Reporting Period:'
                  %td
                    = @election.voter_start_day.strftime("%B %-d, %Y")
                    = "&ndash;".html_safe
                    = @election.voter_end_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Voter Population:'
                  %td= number_with_delimiter(@uv)+" UOCAVA Voters"
              #likeh4b Summary
              %p 
                This report summarizes the full record of the transactions of
                UOCAVA voters during the reporting period for the
                = @election.name+" held on "+@election.date+"."
                Included in this report are statistics on the following voter
                activities:
                %ul
                  %li
                    requests for
                    %b registration management
                    = "&ndash;".html_safe
                    voter registration, voter registration update, absentee
                    status;
                  %li
                    submissions of
                    %b absentee ballots
                The statistics cover all such requests, both those made with
                or without the assistance of online services such as online
                registration assistance, or online marking and downloading of
                absentee ballots for printing, signing, and postal return to
                election officials.  
              #likeh4b Registered Voters
              %table{:style=>"margin-bottom:5px;"}
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(VoterRecord.count)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Total registered voters at the end of the reporting period
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uv)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Total UOCAVA registered voters at the end of the reporting period
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uvmp
                    = "Military voters ("+number_with_delimiter(@uvm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uvop
                    = "Non-military overseas voters ("+number_with_delimiter(@uvo)+")"
              #likeh4b Aggregate Transaction Statistics: Absentee Ballots
              %table
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee ballots received
                    = "("+@uv3p.to_s+" of eligible UOCAVA voters)"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_receivedmp
                    = "Military voters ("+number_with_delimiter(@uab_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uab_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Ballots approved and cast
                    = "(Military: "+@uab_approvedm.to_s+"; Overseas: "+@uab_approvedo.to_s+")"
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Ballots rejected for any reason
                    = "(Military: "+@uab_rejectedm.to_s+"; Overseas: "+@uab_rejectedo.to_s+")"
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_rejectedla)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Ballots rejected due to late arrival
                    = "(Military: "+@uab_rejectedlam.to_s+"; Overseas: "+@uab_rejectedlao.to_s+")"
              #likeh4b Demographic Breakdown: Absentee Ballots Rejected
              %table
                %tr
                  %td{:colspan=>5} 
                    %i UOCAVA Absentee Ballots rejected for any reason
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= @uab_rejectedgfp
                  %td= "&ndash;".html_safe
                  %td= 'Female UOCAVA voters ('+@uab_rejectedgf.to_s+')'
                %tr
                  %td{:style=>"text-align:right;"}= @uab_rejectedgmp
                  %td= "&ndash;".html_safe
                  %td= 'Male UOCAVA voters ('+@uab_rejectedgm.to_s+')'
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= @vab_rejectedgfp
                  %td= "&ndash;".html_safe
                  %td= 'All Female voters ('+@vab_rejectedgf.to_s+')'
                %tr
                  %td{:style=>"text-align:right;"}= @vab_rejectedgmp
                  %td= "&ndash;".html_safe
                  %td= 'All Male voters ('+@vab_rejectedgm.to_s+')'
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= @uab_rejectedpdp
                  %td= "&ndash;".html_safe
                  %td= 'Democratic UOCAVA voters ('+@uab_rejectedpd.to_s+')'
                %tr
                  %td{:style=>"text-align:right;"}= @uab_rejectedprp
                  %td= "&ndash;".html_safe
                  %td= 'Republican UOCAVA voters ('+@uab_rejectedpr.to_s+')'
                %tr
                  %td{:style=>"text-align:right;"}= @uab_rejectedpop
                  %td= "&ndash;".html_safe
                  %td= '3rd Party UOCAVA voters ('+@uab_rejectedpo.to_s+')'
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= @vab_rejectedpdp
                  %td= "&ndash;".html_safe
                  %td= 'All Democratic voters ('+@vab_rejectedpd.to_s+')'
                %tr
                  %td{:style=>"text-align:right;"}= @vab_rejectedprp
                  %td= "&ndash;".html_safe
                  %td= 'All Republican voters ('+@vab_rejectedpr.to_s+')'
                %tr
                  %td{:style=>"text-align:right;"}= @vab_rejectedpop
                  %td= "&ndash;".html_safe
                  %td= '3rd Party UOCAVA voters ('+@vab_rejectedpo.to_s+')'
              #likeh4b Specific Transaction Statistics: Voter Registration Requests
              %table
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@urr_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter registration requests received
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_receivedmp
                    = "Military voters ("+number_with_delimiter(@urr_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@urr_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@urr_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter registration requests approved
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_approvedmp
                    = "Military voters ("+number_with_delimiter(@urr_approvedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_approvedop
                    = "Non-military overseas voters ("+number_with_delimiter(@urr_approvedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@urr_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter registration requests rejected
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_rejectedmp
                    = "Military voters ("+number_with_delimiter(@urr_rejectedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_rejectedop
                    = "Non-military overseas voters ("+number_with_delimiter(@urr_rejectedo)+")"
              #likeh4b Specific Transaction Statistics: Voter Record Update Requests
              %table
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uru_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter record update requests received
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_receivedmp
                    = "Military voters ("+number_with_delimiter(@uru_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uru_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uru_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter record update requests approved
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_approvedmp
                    = "Military voters ("+number_with_delimiter(@uru_approvedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_approvedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uru_approvedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uru_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter record update requests rejected
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_rejectedmp
                    = "Military voters ("+number_with_delimiter(@uru_rejectedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_rejectedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uru_rejectedo)+")"
              #likeh4b Specific Transaction Statistics: Absentee Requests
              %table
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uar_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee requests received
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_receivedmp
                    = "Military voters ("+number_with_delimiter(@uar_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uar_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uar_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee requests approved
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_approvedmp
                    = "Military voters ("+number_with_delimiter(@uar_approvedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_approvedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uar_approvedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uar_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee requests rejected
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_rejectedmp
                    = "Military voters ("+number_with_delimiter(@uar_rejectedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_rejectedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uar_rejectedo)+")"
              %br
          -else
            %p#redelecname
              %br
              ERROR: No Election Selected
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      = link_to 'Back', :back
