#frontal
  .row
    -if defined?(@election) && @election.id.to_s == params[:id]
      .span2#redelecname
        = @election.name
        %br
        = @election.date
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      Textual description of report here.
    .span10
      .row
        .span7
          #likeh2blue FVAP Report
        -if defined?(@election) && @election.id.to_s == params[:id]
          .span2#likeh4
            = link_to "Save as CSV", '/analytic_report.csv?rn=5;id='+params[:id]
        .span1#statebacknext
          = link_to 'Back', :back
      .row
        .span10
          -if defined?(@election) && @election.id.to_s == params[:id]
            %span
              #likeh4b Scope
              %table
                %tr
                  %td= 'Election:'
                  %td= @election.name
                %tr
                  %td= 'Election Date:'
                  %td= @election.date
                %tr
                  %td= 'Reporting Period:'
                  %td
                    = @election.voter_start_day.strftime("%B %-d, %Y")
                    = "&ndash;".html_safe
                    = @election.voter_end_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Voter Population:'
                  %td= number_with_delimiter(@va['tot'])+" Voters"
              #likeh4b Summary
              %table{:style=>"margin: 0 0 0 0;text-align:center;"}
                %tr
                  %th{:style=>"width:5%;"}
                  %th{:style=>"width:10%;"}
                  %th{:style=>"width:20%;text-align:right;"}
                  %th{:style=>"width:20%;text-align:center;"}
                  %th{:style=>"width:20%;text-align:center;"}
                  %th{:style=>"width:20%;text-align:center;"}
                - @r5qs.each do |q|
                  -if q[0]=="Header"
                    %tr
                      %td{:colspan=>6}= "&nbsp;".html_safe
                    %tr{:style=>"font-weight:bold;font-size:20px;"}
                      %td{:colspan=>6,:style=>"text-align:left;"}= q[1]
                    %tr
                      %td{:colspan=>6,:style=>"text-align:left;"}= "&nbsp;".html_safe
                    %tr{:style=>"font-weight:bold;"}
                      %td{:colspan=>2}= 'Virginia'
                      %td= 'Uniformed Service Member'
                      %td= 'Overseas Civilians'
                      %td= 'Non UOCAVA'
                      %td= 'Total'
                  -elsif q[0]=~/N\/A/
                    %tr
                      %td{:colspan=>4,:style=>"text-align:left;"}=q[1]+" "+q[2]
                    %tr
                      %td{:colspan=>2}= "&nbsp;".html_safe
                      %td= 'N/A'
                      %td= 'N/A'
                      %td= 'N/A'
                      %td= 'N/A'
                  -elsif q[0]=~/UOD/
                    %tr
                      %td{:colspan=>6,:style=>"text-align:left;"}= q[3]+" "+q[4]
                    %tr
                      %td{:colspan=>2}= "&nbsp;".html_safe
                      -if hash=@vf[q[1]][q[2]]
                        %td= hash['military'].to_s
                        %td= hash['overseas'].to_s
                        %td= hash['domestic'].to_s
                        %td= hash['total'].to_s
                  -else
                    %tr
                      %td{:colspan=>6,:style=>"text-align:left;"}= q[3]+" "+q[4]
                    - %w(A.\ postal B.\ fax C.\ email D.\ online).each do |mode|
                      -if mode!="D\. online" or q[0]=="PFEO"
                        %tr
                          %td= "&nbsp;".html_safe
                          %td{:style=>"text-align:left;"}= mode[0..2]+mode[3..-1].capitalize
                          - mode=mode[3..-1]
                          -if hash=@vf[q[1]][q[2]][mode]
                            %td= hash['military'].to_s
                            %td= hash['overseas'].to_s
                            %td= hash['domestic'].to_s
                            %td= hash['total'].to_s

          -else
            %p#redelecname
              %br
              ERROR: No Election Selected
