#frontal
  .row
    -if defined?(@election) && @election.id.to_s == params[:id]
      .span2#redelecname
        = @election.name
        %br
        = @election.date
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      Textual description of report here.
    .span10
      .row
        .span7
          #likeh2blue Virginia Voter Services
        -if defined?(@election) && @election.id.to_s == params[:id]
          .span2#likeh4
            = link_to "Download CSV", '/analytic_report.csv?rn=5;id='+params[:id]
        .span1#statebacknext
          = link_to 'Back', :back
      .row
        .span7
          #likeh2blue UOCAVA Voter Services Usage Report
      .row
        .span10
          -if defined?(@election) && @election.id.to_s == params[:id]
            %span
              #likeh4b Scope
              %table
                %tr
                  %td= 'Election:'
                  %td= @election.name
                %tr
                  %td= 'Election Date:'
                  %td= @election.date
                %tr
                  %td= 'Reporting Period:'
                  %td
                    = @election.voter_start_day.strftime("%B %-d, %Y")
                    = "&ndash;".html_safe
                    = @election.voter_end_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Registration Deadline:'
                  %td= @election.deadline_vr_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Ballot Request Deadline:'
                  %td= @election.deadline_ar_day.strftime("%B %-d, %Y")
                %tr
                  %td= '45-Day Deadline:'
                  %td= @election.deadline_45_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Ballot Receipt Deadline:'
                  %td= @election.deadline_br_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Voter Population:'
                  %td= number_with_delimiter(@va['duu'])+" Overseas/Uniformed Voters"
                %tr
                  %td= 'Jurisdiction:'
                  %td= 'Virginia'
              #likeh4b Summary
              %p{:style=>"margin-right:10px;"}
                This report provides statistics of UOCAVA voters’ usage of
                UOCAVA voter services, during the reporting period for the
                = @election.name
                = (@election.name =~ /election/i ? "" : ' Election')
                held on 
                = @election.date+","
                including statistics on the following voter activities:
                %ul
                  %li
                    requests for
                    %b registration management
                    = "&ndash;".html_safe
                    voter registration, voter registration update, absentee
                    ballot request, FPCA;
                  %li
                    submissions of
                    %b absentee ballots
                    = "&ndash;".html_safe
                    mailed-out regular ballots, online-generated ballots, and
                    FWABs.
                military voters contrasted with non-military UOCAVA voters,
                and contrasts between outcomes of state forms and ballots
                vs. Federal forms and ballots. 

              #likeh4b Registered Voters

              %p Registered voters as of the voter-registration deadline.

              %table{:width=>"98%",:style=>"margin:0;text-align:center;"}
                %tr
                  %th{:style=>"width:30%;"}
                  %th{:style=>"width:17%;"}
                    %em Uniformed Services
                  %th{:style=>"width:17%;"}
                    %em Overseas Civilians
                  %th{:style=>"width:17%;"}
                    %em Non-UOCAVA
                  %th{:style=>"width:17%;"}
                    %em Total
                %tr
                  %td= '&nbsp;'.html_safe
                  %td{:colspan=>4}
                    %hr{:style=>"margin-top:0;margin-bottom:10px;border:1;"}
                %tr
                  %td
                    %b Registered Voters
                  %td= @va['dum']
                  %td= @va['duo']
                  %td= @va['ddo']
                  %td= @va['tot']

              %br
              #likeh4b Registration Requests and Absentee Ballot Requests
              %p
                Compares Federal Postcard Applications (FPCAs), non-FPCA
                registration requests (DRRs), and non-FPCA absentee ballot
                requests (DARs), in terms of: received before or after the
                45-day deadline, incomplete, after registration deadline. 
              %p
                %em Not Available: 
                numbers of requests received after a deadline; these are saved
                for subsequent processing after the election cycle
              %p
                %em Not Applicable: 
                Virginia does not support the receipt of documents via email
                or other online means.

              %table{:width=>"98%",:style=>"margin:0;text-align:center;"}
                %tr
                  %th{:style=>"width:30%;"}
                  %th{:style=>"width:17%;"}
                    %em Uniformed Services
                  %th{:style=>"width:17%;"}
                    %em Overseas Civilians
                  %th{:style=>"width:17%;"}
                    %em Non-UOCAVA
                  %th{:style=>"width:17%;"}
                    %em Total
                %tr
                  %td= '&nbsp;'.html_safe
                  %td{:colspan=>4}
                    %hr{:style=>"margin-top:0;margin-bottom:10px;border:1;"}
                - hash=@vf['receive']['formNoteFPCApre45']
                %tr
                  %td
                    %b FPCA before 45-day deadline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['total'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['receive']['formNoteFPCApost45']
                %tr
                  %td
                    %b FPCA after 45-day deadline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['total'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['receive']['formVRpre45']
                %tr
                  %td
                    %b DRR before 45-day deadline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['total'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['receive']['formVRpost45']
                %tr
                  %td
                    %b DRR after 45-day deadline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['total'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['receive']['formARpre45']
                %tr
                  %td
                    %b DAR before 45-day deadline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['total'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['receive']['formVRpost45']
                %tr
                  %td
                    %b DRR after 45-day deadline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['total'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b FPCA after registration deadline
                  - hash=@vf['receive']['formNoteFPCApostVR']
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['receive']['formNoteNotFPCApostVR']
                %tr
                  %td
                    %b non-FPCA after registration deadline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b FPCA incomplete
                  - hash=@vf['reject']['formNoteFPCA']
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b non-FPCA incomplete
                  - hash=@vf['reject']['formNoteNotFPCA']
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe

              #likeh4b Absentee Ballots

              %p 
                Compares absentee ballots (created or downloaded online
                vs. prepared offline) and Federal Write-In Absentee Ballots
                (FWABs) in terms of: transmission to voters, Web download by
                voters, method of return, and outcome for returned ballots:
                accepted (cast, counted), rejected due to arriving after
                deadline (late), rejected for any reason (including late).
              %p 
                %em Not Available:
                FWABs replaced by State ballot. 
              %p 
                %em Not Applicable:
                Virginia does not support the transmission of ballots via fax.
              %p 
                %em Not Applicable: 
                Virginia does not support the receipt of ballots via email or
                other online means.

              %table{:width=>"98%",:style=>"margin:0;text-align:center;"}
                %tr
                  %th{:style=>"width:30%;"}
                  %th{:style=>"width:17%;"}
                    %em Uniformed Services
                  %th{:style=>"width:17%;"}
                    %em Overseas Civilians
                  %th{:style=>"width:17%;"}
                    %em Non-UOCAVA
                  %th{:style=>"width:17%;"}
                    %em Total
                %tr
                  %td= '&nbsp;'.html_safe
                  %td{:colspan=>4}
                    %hr{:style=>"margin-top:0;margin-bottom:10px;border:1;"}
                - hash=@vf['sentToVoter']['formAB']
                %tr
                  %td
                    %b Absentee transmitted
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]+hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b Absentee delivered
                  - %w(military overseas domestic total).each do |k|
                    %td= "&nbsp;".html_safe
                - hash=@vf['complete']['formAB']
                %tr
                  %td
                    %em via Web service
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['receive']['formAB']
                %tr
                  %td
                    %b Absentee received
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['total'][k]
                %tr
                  %td
                    %em via post
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['postal'][k]
                %tr
                  %td
                    %em via fax
                  - %w(military overseas domestic total).each do |k|
                    %td= hash['fax'][k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['returnedUndelivered']['formAB']
                %tr
                  %td
                    %b Absentee returned
                  - %w(military overseas domestic total).each do |k|
                    %td= "&nbsp;".html_safe
                %tr
                  %td
                    %em undelivered
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['late']['formAB']
                %tr
                  %td
                    %b Absentee late
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['late']['formABnooFWAB']
                %tr
                  %td
                    %em Non-FWAB online
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['late']['formABnonFWAB']
                %tr
                  %td
                    %em Non-FWAB offline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['late']['formABFWAB']
                %tr
                  %td
                    %em FWAB
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['reject']['formAB']
                %tr
                  %td
                    %b Absentee rejected
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['rejected']['formABnooFWAB']
                %tr
                  %td
                    %em Non-FWAB online
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['rejected']['formABnonFWAB']
                %tr
                  %td
                    %em Non-FWAB offline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['rejected']['formABFWAB']
                %tr
                  %td
                    %em FWAB
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                - hash=@vf['complete']['formAB']
                %tr
                  %td
                    %b Absentee counted
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['counted']['formABnooFWAB']
                %tr
                  %td
                    %em Non-FWAB online
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['counted']['formABnonFWAB']
                %tr
                  %td
                    %em Non-FWAB offline
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['counted']['formABFWAB']
                %tr
                  %td
                    %em FWAB
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe

              #likeh4b Online Voter Services Usage

              %p 
                Describes the usage of online voter services for registration
                requests, absentee ballot requests (with or without other
                updates), update of existing voter record (without absentee
                request), and download of ballots (either blank or pre-filled
                online). 
              %p 
                %em Note:
                Requests that arrive after the deadline are deferred for
                subsequent processing, and may not be counted as “received”.
              %p 
                %em Not Available:
                IP address statistics.

              %table{:width=>"98%",:style=>"margin:0;text-align:center;"}
                %tr
                  %th{:style=>"width:30%;"}
                  %th{:style=>"width:17%;"}
                    %em Uniformed Services
                  %th{:style=>"width:17%;"}
                    %em Overseas Civilians
                  %th{:style=>"width:17%;"}
                    %em Non-UOCAVA
                  %th{:style=>"width:17%;"}
                    %em Total
                %tr
                  %td= '&nbsp;'.html_safe
                  %td{:colspan=>4}
                    %hr{:style=>"margin-top:0;margin-bottom:10px;border:1;"}
                %tr
                  %td
                    %b Registered voters
                  - %w(military overseas domestic total).each do |k|
                    %td= "&nbsp;".html_safe
                - hash=@vf['count']['prereg']
                %tr
                  %td
                    %em start of period
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['count']['jurisdiction']
                %tr
                  %td
                    %em end of period
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b Online registration requests
                  - %w(military overseas domestic total).each do |k|
                    %td= "&nbsp;".html_safe
                - hash=@vf['downloaded']['oformVR']
                %tr
                  %td
                    %em Downloaded
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['arrived']['oformVR']
                %tr
                  %td
                    %em Arrived
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['accepted']['oformVR']
                %tr
                  %td
                    %em Accepted
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b Online absentee requests
                  - %w(military overseas domestic total).each do |k|
                    %td= "&nbsp;".html_safe
                - hash=@vf['downloaded']['oformAR']
                %tr
                  %td
                    %em Downloaded
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['arrived']['oformAR']
                %tr
                  %td
                    %em Arrived
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['accepted']['oformAR']
                %tr
                  %td
                    %em Accepted
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['rejected']['oformAR']
                %tr
                  %td
                    %em Rejected
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b Online update requests
                  - %w(military overseas domestic total).each do |k|
                    %td= "&nbsp;".html_safe
                - hash=@vf['downloaded']['oformRU']
                %tr
                  %td
                    %em Downloaded
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['arrived']['oformRU']
                %tr
                  %td
                    %em Arrived
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['accepted']['oformRU']
                %tr
                  %td
                    %em Accepted
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['rejected']['oformRU']
                %tr
                  %td
                    %em Rejected
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
                %tr
                  %td
                    %b Online absentee ballots
                  - %w(military overseas domestic total).each do |k|
                    %td= "&nbsp;".html_safe
                - hash=@vf['downloaded']['oformAB']
                %tr
                  %td
                    %em Downloaded
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['arrived']['oformAB']
                %tr
                  %td
                    %em Arrived
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['accepted']['oformAB']
                %tr
                  %td
                    %em Accepted
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['rejected']['oformAB']
                %tr
                  %td
                    %em Rejected
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['users']['sessions']
                %tr
                  %td
                    %em User sessions
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['users']['unique']
                %tr
                  %td
                    %em Unique users
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['users']['ucomplete']
                %tr
                  %td
                    %em Unique users complete
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['count']['multipleABdownloadN']
                %tr
                  %td
                    %em Users download > 1
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                - hash=@vf['users']['extraAB']
                %tr
                  %td
                    %em Ballots of >1 users
                  - %w(military overseas domestic total).each do |k|
                    %td= hash[k]
                %tr
                  %td= "&nbsp;".html_safe
          -else
            %p#redelecname
              %br
              ERROR: No Election Selected
