#frontal
  .row
    -if defined?(@election) && @election.id.to_s == params[:id]
      .span2#redelecname
        = @election.name
        %br
        = @election.date
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      Textual description of report here.
    .span10
      .row
        .span7
          #likeh2blue UOCAVA Voter Online Usage Report
        -if defined?(@election) && @election.id.to_s == params[:id]
          .span2#likeh4
            = link_to "Save as PDF", '/analytic_report.pdf?rn=3;id='+params[:id]
        .span1#statebacknext
          = link_to 'Back', :back
      .row
        .span10
          -if defined?(@election) && @election.id.to_s == params[:id]
            %span
              #likeh4b Scope
              %table
                %tr
                  %td= 'Election:'
                  %td= @election.name
                %tr
                  %td= 'Election Date:'
                  %td= @election.date
                %tr
                  %td= 'Reporting Period:'
                  %td
                    = @election.voter_start_day.strftime("%B %-d, %Y")
                    = "&ndash;".html_safe
                    = @election.voter_end_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Voter Population:'
                  %td= number_with_delimiter(@av['duu'])+" UOCAVA Voters"
              #likeh4b Summary
              %p 
                This report summarizes the usage of the online Virginia Voter
                Services by UOCAVA voters, during the reporting period for the
                = @election.name
                = (@election.name =~ /election/i ? "" : ' Election')
                held on 
                = @election.date+"."
                Included in this report are statistics on voters’ use of:
                %ul
                  %li
                    online services for
                    %b registration management
                    = "&ndash;".html_safe
                    voter registration, voter record update, and absentee
                    status  
                  %li
                    online services for 
                    %b absentee ballot access,
                    online marking, and downloading for printing, signing, and
                    postal return to election officials.  
              #likeh4b Aggregate Service Usage
              %table
                %tr
                  %td= @urm_use
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Voters who made use of 
                    %b registration management 
                    services
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urm_usep
                    of eligible UOCAVA voters
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td= @urm_complete
                  %td= "&ndash;".html_safe
                  %td
                    Voters who 
                    %b completed 
                    a registration, record update, or absentee status form
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @urm_completep
                    of eligible UOCAVA voters
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @urm_completep_reg
                    of users of 
                    %b registration management
                    services
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td= @uam_use
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Voters who made use of 
                    %b absentee ballot access
                    services
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uam_usep
                    of eligible UOCAVA voters
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td= @uam_complete
                  %td= "&ndash;".html_safe
                  %td
                    Voters who 
                    %b completed 
                    a ballot download  
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @uam_completep
                    of eligible UOCAVA voters
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @uam_completep_reg
                    of users of 
                    %b registration management
                    services
              #likeh4b Online Service Request Arrival and Success Rate
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @usr_generated
                  %td= "&ndash;".html_safe
                  %td
                    Total
                    %b registration management 
                    forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @usr_received
                  %td= "&ndash;".html_safe
                  %td
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @usr_approved
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @usr_approvedp
                %tr
                  %td{:style=>"text-align:right;"}= @usr_rejected
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @usr_rejectedp
                %tr
                  %td{:style=>"text-align:right;"}= @usr_lost
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @usr_lostp
                %tr
                  %td{:style=>"text-align:right;"}= @usr_ab_downloads
                  %td= "&ndash;".html_safe
                  %td
                    Downloaded absentee ballots
                %tr
                  %td{:style=>"text-align:right;"}= @usr_ab_voters
                  %td= "&ndash;".html_safe
                  %td
                    Voters who downloaded ballot(s)
                %tr
                  %td{:style=>"text-align:right;"}= @usr_ab_doubles
                  %td= "&ndash;".html_safe
                  %td
                    Voters who downloaded a ballot more than once
              #likeh4b Online Service Request Breakdown by Request Type
              %p{:style=>"font-weight:bold;"} Voter Registration
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @urr_generated
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b voter registration
                    request forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @urr_received
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @urr_approved
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @urr_approvedp
                %tr
                  %td{:style=>"text-align:right;"}= @urr_rejected
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @urr_rejectedp
                %tr
                  %td{:style=>"text-align:right;"}= @urr_lost
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @urr_lostp
                %tr
                  %td{:style=>"text-align:right;"}= @urr_newp
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Newly approved UOCAVA voter registrations, as a percentage
                    of total registered voters on
                    = @election.date
              %br
              %p{:style=>"font-weight:bold;"} Voter Record Update
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @uru_generated
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b voter record update
                    request forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @uru_received
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @uru_approved
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @uru_approvedp
                %tr
                  %td{:style=>"text-align:right;"}= @uru_rejected
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @uru_rejectedp
                %tr
                  %td{:style=>"text-align:right;"}= @uru_lost
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @uru_lostp
              %br
              %p{:style=>"font-weight:bold;"} Absentee Status
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @uar_generated
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b absentee status
                    request forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @uar_received
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @uar_approved
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @uar_approvedp
                %tr
                  %td{:style=>"text-align:right;"}= @uar_rejected
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @uar_rejectedp
                %tr
                  %td{:style=>"text-align:right;"}= @uar_lost
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @uar_lostp
              %br
              %p{:style=>"font-weight:bold;"} Absentee Ballot
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @uab_generated
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b absentee ballot
                    forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @uab_received
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @uab_approved
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @uab_approvedp
                %tr
                  %td{:style=>"text-align:right;"}= @uab_rejected
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @uab_rejectedp
                %tr
                  %td{:style=>"text-align:right;"}= @uab_lost
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @uab_lostp
          -else
            %p#redelecname
              %br
              ERROR: No Election Selected
