#frontal
  .row
    -if defined?(@election) && @election.id.to_s == params[:id]
      .span2#redelecname
        = @election.name
        %br
        = @election.date
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      Textual description of report here.
    .span10
      .row
        .span7
          #likeh2blue UOCAVA Voter Activity Report
        -if defined?(@election) && @election.id.to_s == params[:id]
          .span2#likeh4
            = link_to "Save as PDF", '/analytic_report.pdf?rn=4;id='+params[:id]
        .span1#statebacknext
          = link_to 'Back', :back
      .row
        .span10
          -if defined?(@election) && @election.id.to_s == params[:id]
            %span
              #likeh4b Scope
              %table
                %tr
                  %td= 'Election:'
                  %td= @election.name
                %tr
                  %td= 'Election Date:'
                  %td= @election.date
                %tr
                  %td= 'Reporting Period:'
                  %td
                    = @election.voter_start_day.strftime("%B %-d, %Y")
                    = "&ndash;".html_safe
                    = @election.voter_end_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Voter Population:'
                  %td= number_with_delimiter(@truv)+" UOCAVA Voters"
              #likeh4b Summary
              %p{:style=>"margin-right:10px;"}
                This report summarizes the full record of the transactions of
                UOCAVA voters during the reporting period for the
                = @election.name
                = (@election.name =~ /election/i ? "" : ' Election')
                held on 
                = @election.date+"."
                Included in this report are statistics on the following voter
                activities:
                %ul
                  %li
                    requests for
                    %b registration management
                    = "&ndash;".html_safe
                    voter registration, voter registration update, absentee
                    status;
                  %li
                    submissions of
                    %b absentee ballots
                The statistics cover all such requests, both those made with
                or without the assistance of online services such as online
                registration assistance, or online marking and downloading of
                absentee ballots for printing, signing, and postal return to
                election officials.  
              #likeh4b Registered Voters
              %table{:style=>"margin-bottom:5px;"}
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@trv)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Total registered voters at the end of the reporting period
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@truv)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Total UOCAVA registered voters at the end of the reporting period
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @truvmp
                    = "Military voters ("+number_with_delimiter(@truvm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @truvop
                    = "Non-military overseas voters ("+number_with_delimiter(@truvo)+")"
              #likeh4b Demographic Breakdown: Service Request Rejections (For Any Reason)
              %table{:style=>"margin-bottom:5px;"}
                %tr
                  %th{:colspan=>2,:style=>"font-weight:bold;"}
                    Voter Registration
                  %th= "&nbsp;".html_safe
                  %th{:colspan=>2,:style=>"font-weight:bold;"}
                    Voter Record Update
                  %th= "&nbsp;".html_safe
                  %th{:colspan=>2,:style=>"font-weight:bold;"}
                    Absentee Status
                  %th= "&nbsp;".html_safe
                  %th{:colspan=>2,:style=>"font-weight:bold;"}
                    Absentee Ballot
                  %th= "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;"}
                    Voter
                %tr
                  %th{:style=>"font-weight:bold;text-align:left;"}
                    UOCAVA
                    = "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;text-align:right;"}
                    Domestic
                  %th= "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;"}
                    UOCAVA
                    = "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;text-align:right;"}
                    Domestic
                  %th= "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;"}
                    UOCAVA
                    = "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;text-align:right;"}
                    Domestic
                  %th= "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;"}
                    UOCAVA
                    = "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;text-align:right;"}
                    Domestic
                  %th= "&nbsp;".html_safe
                  %th{:style=>"font-weight:bold;"}
                    Demographic
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= @uar_rejectedgfp
                  %td{:style=>"text-align:right;"}= @var_rejectedgfp
                  %td
                  %td{:style=>"text-align:right;"}= @uab_rejectedgfp
                  %td{:style=>"text-align:right;"}= @vab_rejectedgfp
                  %td
                  %td{:style=>"text-align:right;"}= @uar_rejectedgfp
                  %td{:style=>"text-align:right;"}= @var_rejectedgfp
                  %td
                  %td{:style=>"text-align:right;"}= @uab_rejectedgfp
                  %td{:style=>"text-align:right;"}= @vab_rejectedgfp
                  %td
                  %td= 'Female'
                %tr
                  %td{:style=>"text-align:right;"}= @urr_rejectedgmp
                  %td{:style=>"text-align:right;"}= @vrr_rejectedgmp
                  %td
                  %td{:style=>"text-align:right;"}= @uru_rejectedgmp
                  %td{:style=>"text-align:right;"}= @vru_rejectedgmp
                  %td
                  %td{:style=>"text-align:right;"}= @uar_rejectedgmp
                  %td{:style=>"text-align:right;"}= @var_rejectedgmp
                  %td
                  %td{:style=>"text-align:right;"}= @uab_rejectedgmp
                  %td{:style=>"text-align:right;"}= @vab_rejectedgmp
                  %td
                  %td= 'Male'
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= @urr_rejectedpdp
                  %td{:style=>"text-align:right;"}= @vrr_rejectedpdp
                  %td
                  %td{:style=>"text-align:right;"}= @uru_rejectedpdp
                  %td{:style=>"text-align:right;"}= @vru_rejectedpdp
                  %td
                  %td{:style=>"text-align:right;"}= @uar_rejectedpdp
                  %td{:style=>"text-align:right;"}= @var_rejectedpdp
                  %td
                  %td{:style=>"text-align:right;"}= @uab_rejectedpdp
                  %td{:style=>"text-align:right;"}= @vab_rejectedpdp
                  %td
                  %td= 'Democratic Party'
                %tr
                  %td{:style=>"text-align:right;"}= @urr_rejectedprp
                  %td{:style=>"text-align:right;"}= @vrr_rejectedprp
                  %td
                  %td{:style=>"text-align:right;"}= @uru_rejectedprp
                  %td{:style=>"text-align:right;"}= @vru_rejectedprp
                  %td
                  %td{:style=>"text-align:right;"}= @uar_rejectedprp
                  %td{:style=>"text-align:right;"}= @var_rejectedprp
                  %td
                  %td{:style=>"text-align:right;"}= @uab_rejectedprp
                  %td{:style=>"text-align:right;"}= @vab_rejectedprp
                  %td
                  %td= 'Republican Party'
                %tr
                  %td{:style=>"text-align:right;"}= @urr_rejectedpop
                  %td{:style=>"text-align:right;"}= @vrr_rejectedpop
                  %td
                  %td{:style=>"text-align:right;"}= @uru_rejectedpop
                  %td{:style=>"text-align:right;"}= @vru_rejectedpop
                  %td
                  %td{:style=>"text-align:right;"}= @uar_rejectedpop
                  %td{:style=>"text-align:right;"}= @var_rejectedpop
                  %td
                  %td{:style=>"text-align:right;"}= @uab_rejectedpop
                  %td{:style=>"text-align:right;"}= @vab_rejectedpop
                  %td
                  %td= '3rd Party'
              #likeh4b Aggregate Transaction Statistics: Absentee Ballots
              %table{:style=>"margin-bottom:5px;"}
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee ballots received
                    = "("+@uab_receivedp.to_s+" of eligible UOCAVA voters)"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_receivedmp
                    = "Military voters ("+number_with_delimiter(@uab_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uab_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee ballots approved and cast
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_approvedmp
                    = "Military voters ("+number_with_delimiter(@uab_approvedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_approvedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uab_approvedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee ballots rejected for any reason
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_rejectedmp
                    = "Military voters ("+number_with_delimiter(@uab_rejectedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uab_rejectedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uab_rejectedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uab_rejectedla)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee ballots rejected due to late arrival
                    = "(Military: "+@uab_rejectedlam.to_s+"; Overseas: "+@uab_rejectedlao.to_s+")"
              #likeh4b Aggregate Transaction Statistics: Voter Registration Requests
              %table{:style=>"margin-bottom:5px;"}
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@urr_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter registration requests received
                    = "("+@urr_receivedp.to_s+" of eligible UOCAVA voters)"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_receivedmp
                    = "Military voters ("+number_with_delimiter(@urr_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@urr_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@urr_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter registration requests approved
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_approvedmp
                    = "Military voters ("+number_with_delimiter(@urr_approvedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_approvedop
                    = "Non-military overseas voters ("+number_with_delimiter(@urr_approvedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@urr_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter registration requests rejected for any reason
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_rejectedmp
                    = "Military voters ("+number_with_delimiter(@urr_rejectedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @urr_rejectedop
                    = "Non-military overseas voters ("+number_with_delimiter(@urr_rejectedo)+")"
              #likeh4b Aggregate Transaction Statistics: Voter Record Update Requests
              %table{:style=>"margin-bottom:5px;"}
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uru_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter record update requests received
                    = "("+@uru_receivedp.to_s+" of eligible UOCAVA voters)"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_receivedmp
                    = "Military voters ("+number_with_delimiter(@uru_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uru_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uru_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter record update requests approved
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_approvedmp
                    = "Military voters ("+number_with_delimiter(@uru_approvedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_approvedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uru_approvedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uru_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA voter record update requests rejected for any reason
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_rejectedmp
                    = "Military voters ("+number_with_delimiter(@uru_rejectedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uru_rejectedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uru_rejectedo)+")"
              #likeh4b Aggregate Transaction Statistics: Absentee Status Requests
              %table{:style=>"margin-bottom:5px;"}
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uar_received)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee status requests received
                    = "("+@uar_receivedp.to_s+" of eligible UOCAVA voters)"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_receivedmp
                    = "Military voters ("+number_with_delimiter(@uar_receivedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_receivedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uar_receivedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uar_approved)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee requests approved
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_approvedmp
                    = "Military voters ("+number_with_delimiter(@uar_approvedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_approvedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uar_approvedo)+")"
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td{:style=>"text-align:right;"}= number_with_delimiter(@uar_rejected)
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    UOCAVA absentee requests rejected for any reason
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_rejectedmp
                    = "Military voters ("+number_with_delimiter(@uar_rejectedm)+")"
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @uar_rejectedop
                    = "Non-military overseas voters ("+number_with_delimiter(@uar_rejectedo)+")"
          -else
            %p#redelecname
              %br
              ERROR: No Election Selected
