#frontal
  .row
    -if defined?(@election) && @election.id.to_s == params[:id]
      .span2#redelecname
        = @election.name
        %br
        = @election.date
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      Textual description of report here.
    .span10
      .row
        .span9
          #likeh2blue UOCAVA Voter Online Usage Report
        .span1#statebacknext
          = link_to 'Back', :back
      .row
        .span10
          -if defined?(@election) && @election.id.to_s == params[:id]
            %span
              #likeh4b Scope
              %table
                %tr
                  %td= 'Election:'
                  %td= @election.name
                %tr
                  %td= 'Election Date:'
                  %td= @election.date
                %tr
                  %td= 'Reporting Period:'
                  %td
                    = @election.voter_start_day.strftime("%B %-d, %Y")
                    = "&ndash;".html_safe
                    = @election.voter_end_day.strftime("%B %-d, %Y")
                %tr
                  %td= 'Voter Population:'
                  %td= number_with_delimiter(@va['duu'])+" UOCAVA Voters"
              #likeh4b Summary
              %p 
                This report summarizes the usage of the online Virginia Voter
                Services by UOCAVA voters, during the reporting period for the
                = @election.name
                = (@election.name =~ /election/i ? "" : ' Election')
                held on 
                = @election.date+"."
                Included in this report are statistics on voters’ use of:
                %ul
                  %li
                    online services for
                    %b registration management
                    = "&ndash;".html_safe
                    voter registration, voter record update, and absentee
                    status  
                  %li
                    online services for 
                    %b absentee ballot access,
                    online marking, and downloading for printing, signing, and
                    postal return to election officials.  
              #likeh4b Aggregate Service Usage
              %table
                %tr
                  %td= @vu['aur']['tota']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Voters who made use of 
                    %b registration management 
                    services
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @vu['aur']['tota']['tot_p']
                    of eligible UOCAVA voters
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td= @vu['aur']['rcom']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Voters who 
                    %b completed 
                    a registration, record update, or absentee status form
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @vu['aur']['rcom']['tot_p']
                    of eligible UOCAVA voters
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @vu['aur']['rcom']['tor_p']
                    of users of 
                    %b registration management
                    services
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td= @vu['aua']['tota']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3} 
                    Voters who made use of 
                    %b absentee ballot access
                    services
                %tr
                  %td
                  %td
                  %td{:colspan=>3}
                    = @vu['aua']['tota']['tot_p']
                    of eligible UOCAVA voters
                %tr{:style=>"line-height:10px;"}
                  %td{:colspan=>5} &nbsp;
                %tr
                  %td= @vu['aua']['rcom']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Voters who 
                    %b completed 
                    a ballot download  
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @vu['aua']['rcom']['tot_p']
                    of eligible UOCAVA voters
                %tr
                  %td
                  %td
                  %td{:colspan=>2}
                    = @vu['aua']['rcom']['tor_p']
                    of users of 
                    %b registration management
                    services
              #likeh4b Online Service Request Arrival and Success Rate
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aur']['rgen']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Total
                    %b registration management 
                    forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aur']['rrec']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aur']['rapp']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @vu['aur']['rapp']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aur']['rrej']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @vu['aur']['rrej']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aur']['rlos']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @vu['aur']['rlos']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aua']['rdow']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Downloaded absentee ballots
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aua']['rdow']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Voters who downloaded ballot(s)
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aua']['rdou']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Voters who downloaded a ballot more than once
              #likeh4b Online Service Request Breakdown by Request Type
              %p{:style=>"font-weight:bold;"} Voter Registration
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @vu['arr']['rgen']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b voter registration
                    request forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @vu['arr']['rrec']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @vu['arr']['rapp']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @vu['arr']['rapp']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['arr']['rrej']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @vu['arr']['rrej']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['arr']['rlos']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @vu['arr']['rlos']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['arr']['rnew']['tot_p']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Newly approved UOCAVA voter registrations, as a percentage
                    of total registered voters on
                    = @election.date
              %br
              %p{:style=>"font-weight:bold;"} Voter Record Update
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aru']['rgen']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b voter record update
                    request forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aru']['rrec']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aru']['rapp']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @vu['aru']['rapp']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aru']['rrej']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @vu['aru']['rrej']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aru']['rlos']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @vu['aru']['rlos']['tot_p']
              %br
              %p{:style=>"font-weight:bold;"} Absentee Status
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aas']['rgen']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b absentee status
                    request forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aas']['rrec']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aas']['rapp']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @vu['aas']['rapp']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aas']['rrej']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @vu['aas']['rrej']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aas']['rlos']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @vu['aas']['rlos']['tot_p']
              %br
              %p{:style=>"font-weight:bold;"} Absentee Ballot
              %table
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aab']['rgen']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Total
                    %b absentee ballot
                    forms generated
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aab']['rrec']['tot']
                  %td= "&ndash;".html_safe
                  %td{:colspan=>3}
                    Generated forms received by local election officials during
                    reporting period 
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aab']['rapp']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Approval of forms received 
                    = @vu['aab']['rapp']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aab']['rrej']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Rejection of forms received
                    = @vu['aab']['rrej']['tot_p']
                %tr
                  %td{:style=>"text-align:right;"}= @vu['aab']['rlos']['tot']
                  %td= "&ndash;".html_safe
                  %td
                    Forms not received
                    = @vu['aab']['rlos']['tot_p']
          -else
            %p#redelecname
              %br
              ERROR: No Election Selected
