= form_for @voter do |f|
  -if @voter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@voter.errors.count, "error")} prohibited this voter from being saved:"
      %ul
        - @voter.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :voter
    = f.text_field :voter
  .field
    = f.label :vtype
    = f.text_field :vtype
  .field
    = f.label :voted
    = f.check_box :voted
  .field
    = f.label :vrejected
    = f.check_box :vrejected
  .field
    = f.label :vform
    = f.text_field :vform
  .field
    = f.label :vnote
    = f.text_field :vnote
  .field
    = f.label :uniq
    = f.text_field :uniq
  .field
    = f.label :election
    = f.text_field :election
  .actions
    = f.submit 'Save'
