= form_for @voter do |f|
  -if @voter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@voter.errors.count, "error")} prohibited this voter from being saved:"
      %ul
        - @voter.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :vname
    = f.text_field :vname
  .field
    = f.label :votes
    = f.number_field :votes
  .field
    = f.label :vote_reject
    = f.check_box :vote_reject
  .field
    = f.label :vote_form
    = f.text_field :vote_form
  .field
    = f.label :vote_note
    = f.text_field :vote_note
  .field
    = f.label :uniq
    = f.text_field :vuniq
  .field
    = f.label :election
    = f.text_field :election
  .actions
    = f.submit 'Save'
