%p#notice= notice

-if @voters.length > 0
  %h2= "All Voters ("+@voters.length.to_s+")"
  %br
  %table{:style=>"text-align:center"}
    %tr
      %th Voter
      %th &nbsp;
      %th Type
      %th &nbsp;
      %th Gender
      %th &nbsp;
      %th Party
      %th &nbsp;
      %th Other
      %th &nbsp;
      %th ONL
      %th &nbsp;
      %th VRU
      %th &nbsp;
      %th ASR
      %th &nbsp;
      %th Voted
      %th &nbsp;
      %th Reject?
      %th &nbsp;
      %th Ballot
      %th &nbsp;
      %th Recs
      %th &nbsp;
      %th Election
      %th &nbsp;
      %th 
    - @voters.each do |v|
      -if ! v.archived
        %tr
          %td= v.vname
          %td
          %td= (v.vtype=~/UOC/ ? 'UOC' : '')
          %td
          %td= v.vgender
          %td
          %td= v.vparty
          %td
          %td= (v.vother=~/military/i ? 'Mil' : '')
          %td
          %td= (v.vonline ? '' : 'No')
          %td
          %td= v.vupdate
          %td
          %td= v.vabsreq
          %td
          %td= (v.voted ? 'Yes' : 'No')
          %td
          %td= (v.voted && v.vreject ? (v.vnote=~/late/i ? 'Late' : 'Yes') : '')
          %td
          %td= v.vform
          %td
          %td= v.voter_transaction_records.length
          %td
          %td= Election.find(v.election_id).name
          %td
          %td= link_to 'Show', v
-else 
  %h2= "No Voters"
%br
= link_to 'Back', :back
