%p#notice= notice

-if @voters.length > 0
  .row
    .span11
      %h2= "All Voters ("+@voters.length.to_s+")"
    .span1#statebacknext
      = link_to 'Back', :back  
  %br
  %table{:style=>"text-align:center"}
    %tr
      %th VU
      %th &nbsp;
      %th VID
      %th &nbsp;
      %th M/F
      %th &nbsp;
      %th Party
      %th &nbsp;
      %th UOC
      %th &nbsp;
      %th Stat
      %th &nbsp;
      %th New
      %th &nbsp;
      %th ONL
      %th &nbsp;
      %th RR
      %th &nbsp;
      %th RU
      %th &nbsp;
      %th AS
      %th &nbsp;
      %th Voted
      %th &nbsp;
      %th Ballot
      %th &nbsp;
      %th Rjct
      %th &nbsp;
      %th VTRs
      %th &nbsp;
      %th Election
      %th &nbsp;
      %th 
    - @voters.each do |v|
      -if ! v.archived
        %tr
          %td= v.vuniq
          %td
          %td= v.vname
          %td
          %td= v.vgender
          %td
          %td= (v.vparty=~/Dem/ ? 'Dem' : (v.vparty=~/Rep/ ? 'Rep' : v.vparty))
          %td
          %td= v.vother
          %td
          %td= (v.vstatus=~/abs/ ? 'Abs' : '')
          %td
          %td= (true ? '' : (v.vnew ? 'Yes' : ''))
          %td
          %td= (true ? '' : (v.vonline ? 'Yes' : ''))
          %td
          %td= (true ? '' : (v.vregister=~/approve/?'Yes':v.vregister.capitalize))
          %td
          %td= (true ? '' : (v.vupdate=~/approve/?'Yes':v.vupdate.capitalize))
          %td
          %td= (true ? '' : (v.vabsreq=~/approve/?'Yes':v.vabsreq.capitalize))
          %td
          -if 0 && v.votes.blank?
            %td
              %b= v.voted.to_s
          -elsif 0 && v.votes>1
            %td
              %b= v.votes.to_s+" X"
          -else
            %td= (true ? '' : (v.votes>0 ? 'Yes' : ''))
          %td
          %td= (true ? '' : v.vote_form)
          %td
          %td= (true ? '' : (v.vote_reject ? (v.vote_note=~/late/i ? 'Late' : 'Yes') : ''))
          %td
          %td= v.voter_transaction_records.length
          %td
          %td= Election.find(v.election_id).name
          %td
          %td= link_to 'Show', v
          %td
          %td= link_to 'Destroy', v, :confirm => 'Are you sure?', :method => :delete
-else
  .row
    .span11
      %h2= "No Voters"
    .span1#statebacknext
      = link_to 'Back', :back
