%h2 All Voters

%table{:style=>"text-align:center"}
  %tr
    %th Voter
    %th &nbsp;
    %th VType
    %th &nbsp;
    %th Voted
    %th &nbsp;
    %th Rej?
    %th &nbsp;
    %th Form
    %th &nbsp;
    %th Election
    %th &nbsp;
    %th Recs
    %th &nbsp;
    %th 
    %th

  - @voters.each do |voter|
    %tr
      %td= voter.vname
      %td
      %td= (voter.vtype == 'UOCAVA' ? 'UOC' : voter.vtype)
      %td
      %td= voter.voted
      %td
      %td= (voter.voted ? voter.vreject : "")
      %td
      %td= voter.vform
      %td
      %td= voter.election.name+" ("+voter.election.day.to_s+")"
      %td
      %td= voter.voter_transaction_records.length
      %td
      %td= link_to 'Show', voter
      %td= link_to 'Destroy', voter, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Voter', new_voter_path
