%p#notice= notice

%h2 Voter
%br
-label="State:"
%table{:style=>"padding:5px;margin:0px;"}
  %tr
    %td
      %b Voter ID:
    %td= @voter.vname
  %tr
    %td
      %b Voted:
    %td= (@voter.votes==0 ? 'No' : (@voter.votes>1 ? @voter.votes.to_s+' times' : (@voter.vote_reject ? "Yes / Rejected" : "Yes" )))
  - if ! @voter.vote_form.blank?
    %tr
      %td
        %b Form:
      %td= @voter.vote_form
  - if ! @voter.vuniq.blank?
    %tr
      %td
        %b Uniq:
      %td= @voter.vuniq
  %tr 
    %td
      %b Election:
    %td= Election.find(@voter.election_id).namedate
  - label='State:'
  - @voter.vtr_state.split("+").each do |s|
    %tr
      %td{:style=>"font-weight:bold;text-align:left;"}= label
      %td= s
    - label="&nbsp;".html_safe
%br
- if true
  %h3= 'Voter Transaction Records ('+@voter.vtrs.count.to_s+')'
  %br

  %table{:style=>"text-align:center"}
    %tr
      %th Voter
      %th &nbsp;
      %th Date
      %th &nbsp;
      %th Action
      %th &nbsp;
      %th Form
      %th &nbsp;
      %th LEO
      %th &nbsp;
      %th Note
      %th &nbsp;
      %th Comment
      %th &nbsp;
      %th

    - @voter.voter_transaction_records.each do |vtr|
      %tr
        %td= vtr.vname
        %td
        %td= vtr.datime
        %td
        %td= vtr.action
        %td
        %td= vtr.form
        %td
        %td= vtr.leo
        %td
        %td= vtr.note
        %td
        %td= vtr.comment
        %td
        %td= link_to 'Show', vtr

%br
= link_to 'Back', voters_path
