#front
  .row
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span2#redelecname
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span8
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td#doing{:style=>"width:25%;"}
            Add Voters
          %td#todo{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      %p
        You can delete or replace the voter records extracts &mdash; ID number
        and demographic data but not personal identifying information &mdash;
        for the voters referenced in the log data, or even for all registered
        voters. 
      %p 
        If the voter record extracts are all in place, you can proceed to
        analytics.  
    .span9
      #likeh2blue Voter Record Dataset
      #scroil9{:style=>"height: 325px;"}
        %table{:style=>"text-align:center;margin:10px;"}
          %tr
            %td
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      -if (Selection.all.length > 0 && Selection.all[0].eok())
        = link_to "Back", '/elections/'+Selection.all[0].eid.to_s
      -else
        = link_to 'Back', :back
    .span6
      &nbsp;
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span1#statebacknext
        = link_to "Next", '/analytic?id'+Selection.all[0].eid.to_s
