#front
  .row
    -if (Election.all.any?{|e|e.selected})
      .span2#redelecname
        = (Election.all.find{|e|e.selected}).name
        %br
        = (Election.all.find{|e|e.selected}).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td#doing{:style=>"width:25%;"}
            Add Voters
          %td#todo{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      %p
        You can delete or replace the voter records extracts &mdash; ID number
        and demographic data but not personal identifying information &mdash;
        for the voters referenced in the log data, or even for all registered
        voters. 
      %p 
        If the voter record extracts are all in place, you can proceed to
        analytics.  
    .span10
      #likeh2blue Voter Record Dataset
      #scroil10{:style=>"height: 325px;"}
        %table{:style=>"text-align:center;margin:10px;"}
          %tr
            %td
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      -if (Election.all.any?{|e|e.selected})
        = link_to "Back", '/elections/'+(Election.all.find{|e|e.selected}).id.to_s
      -else
        = link_to 'Back', :back
    .span6
      &nbsp;
    -if (Election.all.any?{|e|e.selected})
      .span1#statebacknext
        = link_to "Next", '/analytic_reports/analytic?id='+(Election.all.find{|e|e.selected}).id.to_s
