'= form_for @election do |f|
  -if @election.errors.any?
    #error_explanation
      %h3= "WARNING: #{pluralize(@election.errors.count, "error")} prohibited this election from being saved:"
      %ul
        - @election.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label 'Election Name'
    = f.text_field :name
  .field
    = f.label 'Election Date'
    = f.date_select :day
  .field
    = f.label 'Start Date for Voter Activity'
    = f.date_select :day
  .field
    = f.label 'End Date for Voter Activity'
    = f.date_select :day
  .actions
    = f.submit 'Save'
