#front
  .row
    -if (Election.all.any?{|e|e.selected})
      .span2#redelecname
        = (Election.all.find{|e|e.selected}).named
        %br
        = (Election.all.find{|e|e.selected}).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span10
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td#doing{:style=>"width:25%;"}
            Select
          %td#todo{:style=>"width:25%;"}
            Add Logs
          %td#todo{:style=>"width:25%;"}
            Add Voters
          %td#todo{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      %p
        Select an election event that you or colleagues 
        have already created. After selecting one, you 
        can update it with additional log data if 
        any, and proceed to the analytics of all the log 
        data that describes each voter’s activities 
        during this election cycle.
    .span10
      .row
        -if params[:archives]
          .span8
            #likeh2blue Election Archives
          .span2{:style=>"text-align:right;color:#3D59AB;font-weight:bold;font-size:16px;line-height:34px;"}
            = link_to 'Election Events', '/elections'
        -else
          .span8
            #likeh2blue Election Events
          -if Election.all.any?{|e|e.archived}
            .span2{:style=>"text-align:right;color:#3D59AB;font-weight:bold;font-size:16px;line-height:34px;"}
              = link_to 'Election Archives', '/elections?archives=1'
      #scroil10{:style=>"height: 325px;"}
        - @elections.each do |e|
          -if params[:archives]
            -if e.archived
              %table{:style=>"width:100%;margin-top:5px;font-size:14px;background-color:#DDDDDD;"}
                %tr{:style=>"font-weight:bold;"}
                  %td{:style=>"width:25%;"}
                    = e.named.to_s
                  %td{:style=>"width:25%;"}
                    %span{:style=>"color:#3D59AB;"}
                      on
                    = e.day.strftime("%B %-d, %Y")
                  %td{:style=>"width:20%;font-weight:normal;"}
                    = number_with_delimiter(e.voter_transaction_logs.length)+" Logs"
                  %td{:style=>"width:10%;"}
                    = (true || e.elogs.blank? ? "" : e.elogs)
                  %td{:style=>"width:10%;"}
                    = (true || e.erecords.blank? ? "" : e.erecords)
                  %td{:style=>"width:10%;"}
                    = (true || e.evoters.blank? ? "" : e.evoters.to_s)
                %tr
                  %td= 'Created: '+e.created_at.strftime("%Y-%m-%d")
                  %td= number_with_delimiter(e.records_num)+" Records"
                  %td= number_with_delimiter(e.voters_num)+" Voters"
                  %td= link_to 'Restore', e, :confirm=>'Are you sure?', :method=>:put
                  %td= link_to 'Delete', e, :confirm=>'Are you sure?', :method=>:delete
          -else
            -if e.archived
            -elsif e.selected
              %table{:style=>"border:1px solid #000000;width:100%;margin-top:5px;font-size:14px;background-color:#BBBBBB;"}
                %tr{:style=>"font-weight:bold;"}
                  %td{:style=>"width:25%;"}
                    = e.named.to_s
                  %td{:style=>"width:25%;"}
                    %span{:style=>"color:#3D59AB;"}
                      on
                    = e.day.strftime("%B %-d, %Y")
                  %td{:style=>"width:20%;font-weight:normal;"}
                    = number_with_delimiter(e.logs_num)+" Logs"
                  %td{:style=>"width:10%;"}
                    = (true || e.elogs.blank? ? "" : e.elogs)
                  %td{:style=>"width:10%;"}
                    = (true || e.erecords.blank? ? "" : e.erecords)
                  %td{:style=>"width:10%;"}
                    = (true || e.evoters.blank? ? "" : e.evoters)
                %tr
                  %td= 'Created: '+e.created_at.strftime("%Y-%m-%d")
                  %td= number_with_delimiter(e.records_num)+" Records"
                  %td= number_with_delimiter(e.voters_num)+" Voters "+e.voters.all.length.to_s
                  -if e.archived
                    %td= link_to 'Archived', e, :confirm => 'Are you sure?', :method => :post
                  -else
                    %td= link_to 'Archive', e, :confirm => 'Are you sure?', :method => :post
                  %td= link_to 'Delete', e, :confirm => 'Are you sure?', :method => :delete
                  %td= '&lowast;&lowast;&lowast;'.html_safe
            -else
              %table{:style=>"width:100%;margin-top:5px;font-size:14px;background-color:#DDDDDD;"}
                %tr{:style=>"font-weight:bold;"}
                  %td{:style=>"width:25%;"}
                    = e.named.to_s
                  %td{:style=>"width:25%;"}
                    %span{:style=>"color:#3D59AB;"}
                      on
                    = e.day.strftime("%B %-d, %Y")
                  %td{:style=>"width:20%;font-weight:normal;"}
                    = number_with_delimiter(e.voter_transaction_logs.length)+" Logs"
                  %td{:style=>"width:10%;"}
                    = (true || e.elogs.blank? ? "" : e.elogs)
                  %td{:style=>"width:10%;"}
                    = (true || e.erecords.blank? ? "" : e.erecords)
                  %td{:style=>"width:10%;"}
                    = (true || e.evoters.blank? ? "" : e.evoters.to_s)
                %tr
                  %td= 'Created: '+e.created_at.strftime("%Y-%m-%d")
                  %td= number_with_delimiter(e.records_num)+" Records"
                  %td= number_with_delimiter(e.voters_num)+" Voters"
                  -if e.archived
                    %td= link_to 'Archived', e, :confirm => 'Are you sure?', :method => :post
                  -else
                    %td= link_to 'Archive', e, :confirm => 'Are you sure?', :method => :post
                  %td= link_to 'Delete', e, :confirm => 'Are you sure?', :method => :delete
                  %td= link_to 'Select', {:select => true, :id => e.id}
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      = link_to 'Back', :root
    .span8
      &nbsp;
    -if (Election.all.any?{|e|e.selected})
      -if params[:archives]
      -else
        .span1#statebacknext
          = link_to "Next", '/elections/'+(Election.all.find{|e|e.selected}).id.to_s
