#front
  .row
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span2#redelecname
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span9
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td#doing{:style=>"width:25%;"}
            Select
          %td#todo{:style=>"width:25%;"}
            Add Logs
          %td#todo{:style=>"width:25%;"}
            Add Voters
          %td#todo{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      %p
        Select an election event that you or colleagues 
        have already created. After selecting one, you 
        can update it with additional log data if 
        any, and proceed to the analytics of all the log 
        data that describes each voter’s activities 
        during this election cycle.
    .span9
      #likeh2blue Election Events
      #scroil9{:style=>"height: 325px;"}
        - @elections.each do |e|
          -if (Selection.all.length > 0 && Selection.all[0].active(e.id))
            %table{:style=>"width:100%;margin:5px;font-size:14px;background-color:#BBBBBB;"}
              %tr{:style=>"font-weight:bold;"}
                %td{:style=>"width:24%;"}
                  = e.name.to_s
                %td{:style=>"width:24%;"}
                  %span{:style=>"color:#3D59AB;"}
                    on
                  = e.day.strftime("%B %-d, %Y")
                %td{:style=>"width:16%;font-weight:normal;"}
                  = number_with_delimiter(e.logs_num)+" Logs"
                %td{:style=>"width:12%;"}
                  = (e.elogs.blank? ? "N/A" : e.elogs)
                %td{:style=>"width:12%;"}
                  = (e.erecords.blank? ? "N/A" : e.erecords)
                %td{:style=>"width:12%;"}
                  = (e.evoters.blank? ? "N/A" : e.evoters)
              %tr
                %td= 'Created: '+e.created_at.strftime("%Y-%m-%d")
                %td= number_with_delimiter(e.records_num)+" Records"
                %td= number_with_delimiter(e.voters_num)+" Voters"
                %td= link_to 'Archive', :archive => true, :id => e.id, :method => :delete
                %td= '&lowast;&lowast;&lowast;'.html_safe
                %td= link_to 'Delete', e, :confirm => 'Are you sure?', :method => :delete
          -else
            %table{:style=>"width:100%;margin:5px;font-size:14px;background-color:#DDDDDD;"}
              %tr{:style=>"font-weight:bold;"}
                %td{:style=>"width:24%;"}
                  = e.name.to_s
                %td{:style=>"width:24%;"}
                  %span{:style=>"color:#3D59AB;"}
                    on
                  = e.day.strftime("%B %-d, %Y")
                %td{:style=>"width:16%;font-weight:normal;"}
                  = number_with_delimiter(e.voter_transaction_logs.length)+" Logs"
                %td{:style=>"width:12%;"}
                  = (e.elogs.blank? ? "N/A" : e.elogs)
                %td{:style=>"width:12%;"}
                  = (e.erecords.blank? ? "N/A" : e.erecords)
                %td{:style=>"width:12%;"}
                  = (e.evoters.blank? ? "N/A" : e.evoters.to_s)
              %tr
                %td= 'Created: '+e.created_at.strftime("%Y-%m-%d")
                %td= number_with_delimiter(e.nrecords())+" Records"
                %td= number_with_delimiter(e.uvoters())+" Voters"
                %td= link_to 'Archive', :archive => true, :id => e.id, :method => :delete
                %td= link_to 'Select', {:select => true, :id => e.id}
                %td= link_to 'Delete', e, :confirm => 'Are you sure?', :method => :delete
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      = link_to 'Back', :root
    .span7
      &nbsp;
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span1#statebacknext
        = link_to "Next", '/elections/'+Selection.all[0].eid.to_s
