%p#notice= notice

.row
  .span6
    %h2= "All Elections ("+@elections.length.to_s+")"
  .span3
    = link_to 'Show Table', :show_xml => nil
    \|
    = link_to 'Show XML', :show_xml => true
    &nbsp;
  .span2
    %b= link_to "Download XML", format: 'xml', class: 'btn'

%br
-if @showxml
  %table
    %pre= render partial: 'etlrs', formats: [ :xml ]
-else 
  %table{:style=>"text-align:center"}
    %tr
      %th ID
      %th &nbsp;
      %th Name
      %th &nbsp;
      %th Date
      %th &nbsp;
      %th Logs
      %th 
      %th
      %th
      %th
    - @elections.each do |election|
      %tr
        %td= election.id
        %td
        %td= election.name
        %td
        %td= election.day
        %td
        %td= election.voter_transaction_logs.length
        %td{:style=>"font-weight:bold;"}= (((Selection.all.length > 0) and (election.id == Selection.all[0].eid)) ? "&lowast;".html_safe : "" )
        %td= link_to 'Select', {:select => true, :id => election.id}
        %td= link_to 'Show', election
        %td= link_to 'Destroy', election, :confirm => 'Are you sure?', :method => :delete
  
%br
= link_to 'Back', :root
\|
= link_to 'New Election', new_election_path
