.row
  .span2
    &nbsp;
  .span10
    %h3{:style=>"color:lightgray;"}
      = "1. Select Election Log"
      = "&nbsp;".html_safe+"&nbsp;".html_safe+"|""&nbsp;".html_safe+"&nbsp;".html_safe
      = "2. Load Data"
      = "&nbsp;".html_safe+"&nbsp;".html_safe+"|""&nbsp;".html_safe+"&nbsp;".html_safe
      = "3. Analyze"
    %hr
.row
  .span2
    &nbsp;
  .span10
    %table
      %tr
        %td
          -if @election.voter_transaction_logs.length == 0
            %h1
              Update Election Log
          -else
            %h1
              Election Log
        %td
          &nbsp;&nbsp;&nbsp;
        %td
          %h3{:style=>"color:darkblue;"}= "Election: "+@election.name+" ("+@election.day.to_s+")"
        %td
          &nbsp;&nbsp;&nbsp;
%br
.row.main
  .span2.sidebar
    %p{:style=>"color:darkblue;"}
      You can update this election log by uploading additional log data, or by
      deleting existing logs that may be outdated.
    %p{:style=>"color:darkblue;"}
      If you have all the relevant data needed for analysis, then your next
      step is Analytics.
  .span10
    .row
      .span5
        %form{:action=>"/uplift",:method=>"post",
              :enctype=>"multipart/form-data",:style=>"margin:0;"}
          %input{:type=>"file",:name=>"file"}
          %input{:type=>"hidden",:name=>"eid",:value=>@election.id}
          %input{:type=>"hidden",:name=>"ename",:value=>@election.name+" ("+@election.day.to_s+")"}
          %input{:type=>"submit",:value=>"Upload Log Data"}
      .span5
        %b= (@uplift_msg ? "Last "+@uplift_msg : "&nbsp;".html_safe)
    %h3 Voter Transaction Logs
    %table{:style=>"text-align:center"}
      %tr
        %th Date
        %th &nbsp;
        %th Origin
        %th &nbsp;
        %th Uniq
        %th &nbsp;
        %th Records
        %th
        %th
      - @election.voter_transaction_logs.each do |vtl|
        %tr
          %td= vtl.datime
          %td
          %td= vtl.origin
          %td
          %td= vtl.origin_uniq
          %td
          %td= vtl.voter_transaction_records.length
          %td= link_to 'Show', vtl
          %td= link_to 'Destroy', vtl, :confirm => 'Are you sure?', :method => :delete
.row
  .span2
    &nbsp;
  .span10
    = link_to "Next", '/analytic?id='+@election.id.to_s, class: 'primary btn'
= link_to 'Home', :root
\|
= link_to 'Back', elections_path
\|
= link_to 'List All', elections_path
