#front
  .row
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span2#redelecname
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span8
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td#doing{:style=>"width:25%;"}
            Add Logs
          %td#todo{:style=>"width:25%;"}
            Add Voters
          %td#todo{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2
      &nbsp;
    .span9#likeh2blue
      -if (Selection.all.length > 0 && Selection.all[0].haslogs())
        Voter Transaction Logs
      -else
        Upload New Voter Transaction Log
  .row
    .span2.sidebar
      - if (Selection.all.length > 0 && Selection.all[0].haslogs())
        %p
          You can update this election log by uploading additional log data,
          or by deleting existing logs that may be outdated.
        %p
          If you have all the log data needed for analysis, 
          then your next step is to check the voter records.
      - else
        %p
          Your second step is to upload the ﬁles that contain the voter
          activity log data for this election, for example, logs from a voter
          registration system, online voter services system, online balloting 
          system, or election management system. 
        %p
          If you don’t have all the log data, that’s OK &mdash; you can return
          later and add more log data, or replace logs you have already loaded.
    .span9
      -if !(Selection.all.length > 0 && Selection.all[0].haslogs())
        .row
          .span7
            %form{:action=>"/uplift",:method=>"post",
                  :enctype=>"multipart/form-data",:style=>"margin:0;"}
              %input{:type=>"file",:name=>"file"}
              %input{:type=>"hidden",:name=>"eid",:value=>Selection.all[0].eid}
              %input{:type=>"hidden",:name=>"uptype",:value=>"vtl"}
              %input{:type=>"submit",:value=>"Import XML",:style=>"color:white;background-color:#444444;"}
              %input{:type=>"submit",:value=>"Import CSV",:style=>"color:white;background-color:#444444;"}
          .span3
            %b= (@uplift_msg ? "Last "+@uplift_msg : "&nbsp;".html_safe)
        %b#likeh2blue No Voter Transaction Logs
      %div#scroil9{:style=>"height:237px;"}
        -if (Selection.all.length > 0 && Selection.all[0].haslogs())
          - Selection.all[0].elec().voter_transaction_logs.each do |vtl|
            %table{:style=>"width:100%;margin:5px;font-size:14px;background-color:#DDDDDD;"}
              %tr{:style=>"font-weight:bold;"}
                %td{:style=>"width:30%;"}
                  = vtl.file_name
                %td{:style=>"width:34%;"}
                  %span{:style=>"color:#3D59AB;"}
                    from
                  = vtl.origin
                %td{:style=>"width:12%;"}
                  &nbsp;
                %td{:style=>"width:12%;"}
                  &nbsp;
                %td{:style=>"width:12%;"}
                  &nbsp;
              %tr
                %td= 'Uploaded: '+vtl.created_at.strftime("%Y-%m-%d %H:%M")
                %td= number_with_delimiter(vtl.voter_transaction_records.length)+" Records"
                %td= link_to 'Show', vtl
                %td= link_to 'Delete', vtl, :confirm => 'Are you sure?', :method=>:delete
                %td= link_to 'Replace', vtl, :confirm => 'Are you sure?', :method=>:delete
      -if (Selection.all.length > 0 && Selection.all[0].haslogs())
        %b#likeh2blue Upload New Voter Transaction Log
        .row
          .span7
            %form{:action=>"/uplift",:method=>"post",
                  :enctype=>"multipart/form-data",:style=>"margin:0;"}
              %input{:type=>"file",:name=>"file"}
              %input{:type=>"hidden",:name=>"eid",:value=>Selection.all[0].eid}
              %input{:type=>"hidden",:name=>"uptype",:value=>"vtl"}
              %input{:type=>"submit",:value=>"Import XML",:style=>"color:white;background-color:#444444;"}
              %input{:type=>"submit",:value=>"Import CSV",:style=>"color:white;background-color:#444444;"}
          .span3
            %b= (@uplift_msg ? "Last "+@uplift_msg : "&nbsp;".html_safe)
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      = link_to 'Back', elections_path
    .span7
      &nbsp;
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span1#statebacknext
        = link_to "Next", voter_records_path
