%p#notice= notice

.row
  .span5
    %h2
      = "Analytics for Selected Election: "+Selection.all[0].ename

%br
%table{:style=>"text-align:center"}
  %tr
    %th 
    %th &nbsp;
    %th Voters
    %th &nbsp;
    %th Regular 
    %th &nbsp;
    %th No
    %th &nbsp;
    %th{:colspan => 3} Absentee
    %th &nbsp;
    %th{:colspan => 3} Provisional
    %th &nbsp;
    %th Whacky
  %tr      
    %th N
    %th &nbsp;
    %th 
    %th &nbsp;
    %th Vote
    %th &nbsp;
    %th Vote
    %th &nbsp;
    %th Accept
    %th &nbsp;
    %th Reject
    %th &nbsp;
    %th Accept
    %th &nbsp;
    %th Reject
    %th &nbsp;
    %th 
  %tr      
    %td= "#"
    %td
    %td= @voters
    %td
    %td= @vote_reg
    %td
    %td= @vote_no
    %td
    %td= @vote_aa
    %td
    %td= @vote_ar
    %td
    %td= @vote_pa
    %td
    %td= @vote_pr
    %td
    %td= @vote_wac
  %tr
    %td= "%"
    %td
    %td= "100%"
    %td
    %td= "Regular Vote"
    %td
    %td= "No Vote"
    %td
    %td= "Absentee Accept"
    %td
    %td= "Absentee Reject"
    %td
    %td= "Provisional Accept"
    %td
    %td= "Provisional Reject"
    %td
    %td= "Whacky"

%br
