#front{:style => "height:462px;"}
  .row
    .span3
      &nbsp;
    .span4
      %h2 Virginia Voter Log Analytics
      -if !(Election.all.any?{|e|e.selected})
        %h3= "Election: "+(((Election.all.length == 0) && "None Specified") || "None Selected")
      -else
        %h3= "Election: "+(Election.all.find{|e|e.selected}).name+" "+(Election.all.find{|e|e.selected}).day.to_s
    .span5
      %table{:style=>"width:100%;margin:0;padding:0;text-align:left;"}
        %tr
          %td
            -if ((xn=Election.all.length) == 0)
              = link_to "No Elections",'elections#index', class: 'primary btn'
            -else
              = link_to "Elections ("+xn.to_s+")",'elections#index', class: 'primary btn'
          %td
            -if ((xn=VoterRecord.all.length) == 0)
              = link_to "No Voter Records",'/voter_records/show', class: 'primary btn'
            -else
              = link_to "Voter Records ("+xn.to_s+")",'/voter_records/show', class: 'primary btn'
        %tr
          %td
            -if ((xn=VoterTransactionLog.all.length) == 0)
              = link_to "No VTLs",'voter_transaction_logs#index', class: 'primary btn'
            -else
              = link_to "VTLs ("+xn.to_s+")",'voter_transaction_logs#index', class: 'primary btn'
          %td
            -if ((xn=Voter.all.length) == 0)
              = link_to "No Voters",'voters#index', class: 'primary btn'
            -else
              = link_to "Voters ("+xn.to_s+")",'voters#index', class: 'primary btn'
        %tr
          %td
            -if ((xn=VoterTransactionRecord.all.length) == 0)
              = link_to "No VTRs",'voter_transaction_records#index', class: 'primary btn'
            -else
              = link_to "VTRs ("+xn.to_s+")",'voter_transaction_records#index', class: 'primary btn'

          %td
            = "&nbsp;".html_safe
        %tr
          %td
            -if ((xn=AnalyticReport.all.length) == 0)
              = link_to "No Analytic Reports",'/analytic_reports/index', class: 'primary btn'
            -else
              = link_to "Analytic Reports ("+xn.to_s+")",'/analytic_reports/index', class: 'primary btn'
          %td
            -if ((xn=User.all.length) == 0)
              = link_to "No Users", 'user#show', class: 'primary btn'
            -else
              = link_to "Users ("+xn.to_s+")", 'user#show', class: 'primary btn'

  .row.main
    .span3.sidebar
      %p
        %em Welcome to Virginia Voter Log Analytics

      %p
        &nbsp;&nbsp;&#8230; a new service for Virginia election officials.

      %p
        This service permits voter transactions to be uploaded, stored,
        consolidated, and analyzed, all while ensuring the privacy of
        individual voters.  Through analysis, we can improve voter services
        and increase voter participation, especially for those
        voters with systemic barriers to voting, like
        overseas and Military voters, and the disabled.

      .signature
        Virginia State Board of Elections

    .span8
      -if !(Election.all.any?{|e|e.selected})
        -if (Election.all.length == 0)
          To get started, create an election using the Manage Elections button (upper right).
        -else
          To get started, select an election using the Manage Elections button (top right).
      -else
        There are two options for getting started:

      .row
        .span4.option
          .marker 1
          %h3 Upload Voter Transaction Log
        .span4.option
          .marker 2
          %h3 Analyze Existing Logs
      .row
        .span4
          %p
            Upload a voter transaction log from your computer.
            Only XML files, with the extension .xml, are acceptable
            for uploading.
        .span4
          %p
            Analyze the voter transaction logs for the election named above.
      -if (Election.all.any?{|e|e.selected})
        .row
          .span4
            %form{:action=>"uplift",:method=>"post",
                  :enctype=>"multipart/form-data",:style=>"margin:0;"}
              %input{:type=>"file",:name=>"file",:style=>"width:300px;"}
              %input{:type=>"submit",:value=>"Upload"}
            %b= (@uplift_msg ? @uplift_msg : "&nbsp;".html_safe)
          .span4
            = link_to "Analytics", '/analytic_reports/analytic?id='+(Election.all.find{|e|e.selected}).id.to_s, class: 'primary btn'
