= form_for @voter_transaction_record do |f|
  -if @voter_transaction_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@voter_transaction_record.errors.count, "error")} prohibited this voter_transaction_record from being saved:"
      %ul
        - @voter_transaction_record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :voter
    = f.text_field :voter
  .field
    = f.label "Voter Type (optional)"
    = f.text_field :vtype
  .field
    = f.label "Date and Time"
    = f.datetime_select :datime
  .field
    = f.label :action
    = f.text_field :action
  .field
    = f.label :form
    = f.text_area :form
  .field
    = f.label "Local Election Official (optional)"
    = f.text_field :leo
  .field
    = f.label "Note (optional)"
    = f.text_field :note
  .field
    = f.label :voter_transaction_log
    = f.text_field :voter_transaction_log
  .actions
    = f.submit 'Save'
