#front
  .row
    -if (Selection.all.length > 0 && Selection.all[0].eok())
      .span2#redelecname
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      .span2#redelecname
        No election event selected.
    .span9
      %table{:style=>"width:100%;"}
        %tr#statebar
          %td{:style=>"width:25%;"}
            Select
          %td{:style=>"width:25%;"}
            Add Logs
          %td{:style=>"width:25%;"}
            Add Voters
          %td#doing{:style=>"width:25%;"}
            Analyze
      %hr
  .row
    .span2.sidebar
      %p 
        This report presents voter participation based on the type of vote cast.

      %p
        For absentee and provisional voters, participation is further broken
        down according to the percentage of ballots approved or
        rejected.

      %p
        There is an additional caterogy of "whacky" voters about which nothing is
        currently know and subsequently nothing reported.   
    .span9
      .row
        .span5
          #likeh2blue Voter Participation Report
          #likeh3 
            = @report_date
        .span2#likeh4
          = link_to 'Save as PDF'
        .span2#likeh4
          = link_to 'Export XML'
      %table{:style=>"text-align:center;margin-top:10px;border:1px solid #000000;"}
        %tr
          %th 
          %th All
          %th &nbsp;Regular&nbsp;
          %th No
          %th{:colspan => 3} Absentee Ballot
          %th{:colspan => 3} Provisional Ballot
          %th &nbsp;Whacky&nbsp;
        %tr      
          %th 
          %th &nbsp;Voters&nbsp;
          %th Vote
          %th &nbsp;Vote&nbsp;
          %th &nbsp;Total
          %th Approved
          %th Rejected&nbsp;
          %th &nbsp;Total
          %th Approved
          %th Rejected&nbsp;
          %th Voters
        %tr      
          %td= "#"
          %td= @voters
          %td= @vote_reg
          %td= @vote_no
          %td= @vote_aa+@vote_ar
          %td= @vote_aa.to_s+" ("+(@vote_aa*100/(@vote_aa+@vote_ar)).round.to_s+"%)"
          %td= @vote_ar.to_s+" ("+(@vote_ar*100/(@vote_aa+@vote_ar)).round.to_s+"%)"
          %td= @vote_pa+@vote_pr
          %td= @vote_pa.to_s+" ("+(@vote_pa*100/(@vote_pa+@vote_pr)).round.to_s+"%)"
          %td= @vote_pr.to_s+" ("+(@vote_pr*100/(@vote_pa+@vote_pr)).round.to_s+"%)"
          %td= @vote_wac
        %tr
          %td= "%"
          %td= "100%"
          %td= (@vote_reg*100/@xvoters).round.to_s+"%"
          %td= (@vote_no*100/@xvoters).round.to_s+"%"
          %td= ((@vote_aa+@vote_ar)*100/@xvoters).round.to_s+"%"
          %td 
          %td 
          %td= ((@vote_pa+@vote_pr)*100/@xvoters).round.to_s+"%"
          %td 
          %td
          %td= (@vote_wac*100/@xvoters).round.to_s+"%"
      %br
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      -if (Selection.all.length > 0 && Selection.all[0].eok())
        = link_to "Back", '/analytic?id='+Selection.all[0].eid.to_s
      -else
        = link_to 'Back', :back
