#front
  .row
    -if ((Selection.all.length > 0) && Election.find(Selection.all[0].eid))
      .span2#selectionred
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      .span2#selectionred
        No election event selected.
    .span10
      #likeh2blue Voter Participation Report
  .row
    .span2.sidebar
      %br
      %p
        Describe the details of this report here.
    .span10#scroil{:style=>"height:397px"}
      %table{:style=>"text-align:center;margin:10px;"}
        %tr
          %th 
          %th &nbsp;&nbsp;
          %th All
          %th &nbsp;&nbsp;
          %th Regular 
          %th &nbsp;&nbsp;
          %th No
          %th &nbsp;&nbsp;
          %th{:colspan => 3} Absentee Ballot
          %th &nbsp;&nbsp;
          %th{:colspan => 3} Provisional Ballot
          %th &nbsp;&nbsp;
          %th Whacky
        %tr      
          %th 
          %th &nbsp;&nbsp;
          %th Voters
          %th &nbsp;&nbsp;
          %th Vote
          %th &nbsp;&nbsp;
          %th Vote
          %th &nbsp;&nbsp;
          %th Approved
          %th &nbsp;&nbsp;
          %th Rejected
          %th &nbsp;&nbsp;
          %th Approved
          %th &nbsp;&nbsp;
          %th Rejected
          %th &nbsp;&nbsp;
          %th Voters
        %tr      
          %td= "#"
          %td
          %td= @voters
          %td
          %td= @vote_reg
          %td
          %td= @vote_no
          %td
          %td= @vote_aa
          %td
          %td= @vote_ar
          %td
          %td= @vote_pa
          %td
          %td= @vote_pr
          %td
          %td= @vote_wac
        %tr
          %td= "%"
          %td
          %td= "100%"
          %td
          %td= (@vote_reg*100/@xvoters).round.to_s+"%"
          %td
          %td= (@vote_no*100/@xvoters).round.to_s+"%"
          %td
          %td= (@vote_aa*100/@xvoters).round.to_s+"%"
          %td
          %td= (@vote_ar*100/@xvoters).round.to_s+"%"
          %td
          %td= (@vote_pa*100/@xvoters).round.to_s+"%"
          %td
          %td= (@vote_pr*100/@xvoters).round.to_s+"%"
          %td
          %td= (@vote_wac*100/@xvoters).round.to_s+"%"
      %br
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      - if (defined?(@election))
        = link_to 'Back', '/analytic?id='+@election.id.to_s
      - else
        = link_to 'Back', :back
