#front
  .row
    -if ((Selection.all.length > 0) && Election.find(Selection.all[0].eid))
      .span2#selectionred
        = Election.find(Selection.all[0].eid).name
        %br
        = Election.find(Selection.all[0].eid).day.strftime("%B %-d, %Y")
    -else
      .span2#selectionred
        No election event selected.
    .span10
      #likeh2blue UOCAVA Ballot Return Report
  .row
    .span2.sidebar
      %br
      First we show the number of unique UOCAVA voters
      found in the voter transaction logs for this election. Then we give
      the total number (and relative percentage) of those who:
      %ul
        %li
          registered to vote,
        %li
          updated their voter registration,
        %li
          requested/updated absentee status,
        %li
          started filling out an absentee  ballot.
      And finally, those whose absentee ballots were either
      %ul
        %li
          approved, or 
        %li
          rejected.
    .span10
      %span#likeh3b= @report_date
      %br
      %div#scroil{:style=>"height:362px"}
        %table{:style=>"text-align:center;margin:10px;"}
          %tr
            %th 
            %th &nbsp;&nbsp;
            %th UOCAVA
            %th &nbsp;&nbsp;
            %th Registered
            %th &nbsp;&nbsp;
            %th Updated
            %th &nbsp;&nbsp;
            %th Requested
            %th &nbsp;&nbsp;
            %th Started
            %th &nbsp;&nbsp;
            %th{:colspan => 3} Absentee Ballot
            %th &nbsp;&nbsp;
          %tr      
            %th 
            %th &nbsp;&nbsp;
            %th Voters
            %th &nbsp;&nbsp;
            %th To Vote
            %th &nbsp;&nbsp;
            %th Voter Record
            %th &nbsp;&nbsp;
            %th Absentee Status
            %th &nbsp;&nbsp;
            %th Absentee Ballot
            %th &nbsp;&nbsp;
            %th Approved
            %th &nbsp;&nbsp;
            %th Rejected
            %th &nbsp;&nbsp;
          %tr      
            %td= "#"
            %td
            %td= @voters
            %td
            %td= @vote_reg
            %td
            %td= @vote_upd
            %td
            %td= @vote_as
            %td
            %td= @vote_ab
            %td
            %td= @vote_aa
            %td
            %td= @vote_ar
            %td
          %tr
            %td= "%"
            %td
            %td= "100%"
            %td
            %td= (@vote_reg*100/@xvoters).round.to_s+"%"
            %td
            %td= (@vote_upd*100/@xvoters).round.to_s+"%"
            %td
            %td= (@vote_as*100/@xvoters).round.to_s+"%"
            %td
            %td= (@vote_ab*100/@xvoters).round.to_s+"%"
            %td
            %td= (@vote_aa*100/@xvoters).round.to_s+"%"
            %td
            %td= (@vote_ar*100/@xvoters).round.to_s+"%"
            %td
  .row#positionbacknext
    .span2
      &nbsp;
    .span1#statebacknext
      - if (defined?(@election))
        = link_to 'Back', '/analytic?id='+@election.id.to_s
      - else
        = link_to 'Back', :back
