#header
  = image_tag 'logo.png'
  -if current_user
    %b= "User: "+current_user.email
  -else
    %b= "&nbsp;".html_safe
  %ul#menu
    %li= link_to('Home',  :root)+"&nbsp;&nbsp;&nbsp;|".html_safe
    %li= link_to('About', :about_page)+"&nbsp;&nbsp;&nbsp;|".html_safe
    %li= link_to('FAQs',  :help_page)+"&nbsp;&nbsp;&nbsp;|".html_safe
    %li= link_to('Help',  :help_page)+"&nbsp;&nbsp;&nbsp;|".html_safe
    %li= link_to('Legacy', :front_page)
  %h1{:style=>"font-size:36px;color:white;margin-top:20px"}
    Voter Activity Analytics
